---
import Layout from "../layouts/Layout.astro";
import Events from "../components/Events.astro";
import Precursor from "../components/Precursor.astro";
---

<Layout>
  <button
    onclick="history.back()"
    class="bg-transparent border-none absolute p-4"
    ><img style="height:75px;" src="/images/summitlogo.png" alt="Logo" />
  </button>

  <Events />
  <Precursor />
</Layout>
