---

import Layout from "../layouts/Layout.astro";
import Events from "../components/Events.astro";
import Precursor from "../components/Precursor.astro";
import Nav from "../components/Nav.astro";

---
<Layout>


    <!-- <button onclick="history.back()" class=" bg-transparent border-none absolute  p-4"><img style = "height:100px;" src="/images/summitlogo.png" alt="Logo" ></button> -->
    <Nav/>
    <Events/>
    <Precursor/>


</Layout>