---
import Layout from "../layouts/Layout.astro";
---
<Layout>
        
        <header class="transparent">

            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <!-- logo begin -->
                        <div id="logo">
                            <a href="index.html">
                                <img class="logo hidden" id="nav-logo" width="65" height="65" src="images/summitlogo.png" alt="">
                            </a>
                        </div>
                        <!-- logo close -->

                            <!-- small button begin -->
                            <span id="menu-btn"></span>
                            <!-- small button close -->

                            <!-- <div class="header-extra">
                                <div class="v-center">
                                    <span id="b-menu">
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                    </span>
                                </div>
                            </div> -->

                            <!-- mainmenu begin -->
							<ul id="mainmenu" class="ms-2">
								<li><a href="#section-hero">Home<span></span></a></li>
								<li><a href="#section-about">About<span></span></a></li>
                                <li><a href="#section-precursor">Events<span></span></a></li>
                                <li><a href="#section-reach">Venue<span></span></a></li>
								<!-- <li><a href="#section-speakers">Speakers<span></span></a></li>
								<li><a href="#section-schedule">Schedule<span></span></a></li>
								<li><a href="#section-ticket">Ticket<span></span></a></li>
								<li><a href="#section-sponsors">Sponsors<span></span></a></li>
								<li><a href="#section-register">Register<span></span></a></li> -->
							</ul>
							
							<!-- mainmenu close -->

                            

                    </div>
                    

                </div>
            </div>
        </header>
        <!-- header close -->


        <!-- content begin -->
        <div id="content" class="no-bottom no-top ">

            <section class="min-h-screen py-0 relative">
                <!-- revolution slider begin -->
                <div id="section-hero" class="fullwidthbanner-container" aria-label="section-slider" data-bgcolor="#101010">
                    <div id="slider-revolution">
                        <ul>
                            <li data-transition="random-premium" data-slotamount="10" data-masterspeed="200" data-thumb="">
                                <!--  BACKGROUND IMAGE -->
                                <img alt="" class="rev-slidebg" data-bgparallax="0" src="images/bg-reset-3.jpg">
                            </li>
                            
                            <li data-transition="random-premium" data-slotamount="10" data-masterspeed="100" data-thumb="">
                                <!--  BACKGROUND IMAGE -->
                                <img alt="" class="rev-slidebg" data-bgparallax="0" src="images/bg-rset-2.jpg">
                            </li>

                            <li data-transition="random-premium" data-slotamount="10" data-masterspeed="100" data-thumb="">
                                <!--  BACKGROUND IMAGE -->
                                <img alt="" class="rev-slidebg" data-bgparallax="0" src="images/bg-rset.jpg">
                            </li>

                        </ul>
                        
                        
                    </div>
                </div>

                <div class="absolute z-20 w-full h-full top-0 flex items-center justify-center">
                    <div class="flex items-center justify-center gap-5 w-full">
                        <div class="flex justify-center flex-col items-center ">
                            <img src="/images/summitlogo.png" alt="Logo" class="w-72">
                            <div class="bg-blue-700 text-white inline-block px-2 mt-2 text-xl">
                                Unravelling Dimensions Uniting Perspectives
                            </div>
                            <div class="text-2xl md:text-4xl text-white my-5 text-center md:text-left">
                                Asia's largest summit for aspiring student entrepreneurs
                            </div>
                            <div class="d-lg-flex justify-content-center sm-hide" style="background-size: cover;">
                                <div class="h6 padding10 pt0 pb0 text-white" style="background-size: cover;"><i class="i_h3 fa fa-calendar-check-o id-color"></i>04 March 2023</div>
                                <!-- <div class="h6 padding10 pt0 pb0 text-white" style="background-size: cover;"><i class="i_h3 fa fa-user id-color"></i>12 Speakers</div> -->
                                <div class="h6 padding10 pt0 pb0 text-white" style="background-size: cover;"><i class="i_h3 fa fa-map-marker id-color"></i>Rajagiri School of Engineering and Technology, Ernakulam</div>
                            </div>
                            <div class="text-center mt-3">
                                <button class="appearance-none rounded-full border-0 px-5 py-2 bg-pink-600 text-white hover:bg-pink-700" onclick="popup('iedc-summit-2023-230400');">Grab your Tickets</button>
                            </div>
                        </div>
                        <!-- <div class="md:w-1/2">
                            
                        </div> -->
                    </div>
                </div>
            </section>

            <!-- revolution slider close -->
			
			<section id="section-countdown" aria-label="section" class="gradient-to-right pt40 pb40">
				<div class="container">
					<div class="row">
						<div class="col-md-10 offset-md-1">
							<div class="spacer-single"></div>
							<div id="defaultCountdown"></div>
						</div>
					</div>
				</div>
			</section>
			
			<section id="section-about" data-bgimage="url(images/bg/4.png) top left no-repeat">
				<div class="wm wm-border light wow fadeInDown">IEDC</div>
                    <div class="container-xl">
                        <div class="row align-items-center">
                            
                            <div class="col-lg-6 wow fadeInLeft" data-wow-delay="0s">
                                <h2 class="text-5xl " >Welcome to the Asia's<br>largest Summit for aspiring entrepreneurs</h2>
                                <p>Kerala Startup Mission is organizing the seventh edition of the flagship event- IEDC Summit 2023 and, Rajagiri School of Engineering and Technology, heartily welcome you to witness and be a part of Asia's largest summit for aspiring student innovators and entrepreneurs. </p>
                                <p>IEDC Summit is an amalgamation of events from a plethora of domains, including technology, entrepreneurship, skill development, and so much more. It facilitates as a platform for connecting student innovators, industry leaders, and various startups in addition to providing an opportunity for them to engage and network, and form connections that lasts for a lifetime. Meet highly influential entrepreneurs, imbibe from panel discussions, expand your horizons in technical knowledge and financial literacy.</p>
								<p><b>Let's unravel dimensions and unite perspectives together! </b></p>
								
								<div class="spacer10"></div>
								
								<!-- <a href="#" class="btn-custom font-weight-bold text-white sm-mb-30">About Us</a> -->
                            </div>
							
							<div class="col-lg-6 mb-sm-30 text-center wow fadeInRight">
                                <div class="de-images">
                                    
									<img class="img-fluid wow fadeInRight" data-wow-delay=".25s" src="images/misc/about.png" alt="" />
                                    
								</div>
                            </div>
                            <div class="wm wm-border light wow fadeInDown">summit</div>

                        </div>
                    </div>
                </section>

                 <!-- logo carousel section close -->

                 <section id="call-to-action" class="gradient-to-right text-light call-to-action pt-0 pb-0" aria-label="cta" style="background-size: cover;">
                    
                    <div class="container" style="background-size: cover;">
                        <div class="row flex">
                            <div class="col-md-2 d-flex justify-center col-xs-6 wow fadeIn" data-wow-delay=".5s">
                                <div class="de_count">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" fill="currentColor" class="bi bi-globe-americas" viewBox="0 0 16 16">
                                        <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0ZM2.04 4.326c.325 1.329 2.532 2.54 3.717 3.19.48.263.793.434.743.484-.08.08-.162.158-.242.234-.416.396-.787.749-.758 1.266.035.634.618.824 1.214 1.017.577.188 1.168.38 1.286.983.082.417-.075.988-.22 1.52-.215.782-.406 1.48.22 1.48 1.5-.5 3.798-3.186 4-5 .138-1.243-2-2-3.5-2.5-.478-.16-.755.081-.99.284-.172.15-.322.279-.51.216-.445-.148-2.5-2-1.5-2.5.78-.39.952-.171 1.227.182.078.099.163.208.273.318.609.304.662-.132.723-.633.039-.322.081-.671.277-.867.434-.434 1.265-.791 2.028-1.12.712-.306 1.365-.587 1.579-.88A7 7 0 1 1 2.04 4.327Z"/>
                                    </svg>
                                    <h3>14</h3>
                                    <span class="text-white">Districts</span>
                                </div>
                            </div>
                            <div class="col-md-2  col-xs-6 wow fadeIn" data-wow-delay=".5s">
                                <div class="de_count" >
                                    <i class="icon_id-2 id-color-1"></i>
                                    <h3>425</h3>
                                    <span class="text-white">IEDCs</span>
                                </div>
                            </div>

                            <div class="col-md-2 d-flex justify-center col-xs-6 wow fadeIn" data-wow-delay=".5s">
                                <div class="de_count">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" fill="currentColor" class="bi bi-activity" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M6 2a.5.5 0 0 1 .47.33L10 12.036l1.53-4.208A.5.5 0 0 1 12 7.5h3.5a.5.5 0 0 1 0 1h-3.15l-1.88 5.17a.5.5 0 0 1-.94 0L6 3.964 4.47 8.171A.5.5 0 0 1 4 8.5H.5a.5.5 0 0 1 0-1h3.15l1.88-5.17A.5.5 0 0 1 6 2Z"/>
                                      </svg>
                                    <h3>5000+</h3>
                                    <span class="text-white">Activities</span>
                                </div>
                            </div>

                            <div class="col-md-2 d-flex justify-center  col-xs-6 wow fadeIn" data-wow-delay=".5s">
                                <div class="de_count">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" fill="currentColor" class="bi bi-lightbulb d-flex" viewBox="0 0 16 16">
                                        <path d="M2 6a6 6 0 1 1 10.174 4.31c-.203.196-.359.4-.453.619l-.762 1.769A.5.5 0 0 1 10.5 13a.5.5 0 0 1 0 1 .5.5 0 0 1 0 1l-.224.447a1 1 0 0 1-.894.553H6.618a1 1 0 0 1-.894-.553L5.5 15a.5.5 0 0 1 0-1 .5.5 0 0 1 0-1 .5.5 0 0 1-.46-.302l-.761-1.77a1.964 1.964 0 0 0-.453-.618A5.984 5.984 0 0 1 2 6zm6-5a5 5 0 0 0-3.479 8.592c.263.254.514.564.676.941L5.83 12h4.342l.632-1.467c.162-.377.413-.687.676-.941A5 5 0 0 0 8 1z"/>
                                      </svg>
                                    <h3>50000+</h3>
                                    <span class="text-white">Innovators</span>
                                </div>
                            </div>

                            <div class="col-md-2 d-flex justify-center col-xs-6 wow fadeIn" data-wow-delay=".5s">
                                <div class="de_count">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" fill="currentColor" class="d-flex bi bi-people-fill" viewBox="0 0 16 16">
                                        <path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7Zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm-5.784 6A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216ZM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5Z"/>
                                      </svg>
                                    <h3>8000+</h3>
                                    <span class="text-white">Changemakers</span>
                                </div>
                            </div>                           

                            <div class="col-md-2 d-flex justify-center col-xs-6 wow fadeIn" data-wow-delay=".5s">
                                <div class="de_count">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" fill="currentColor" class="bi bi-rocket " viewBox="0 0 16 16">
                                        <path d="M8 8c.828 0 1.5-.895 1.5-2S8.828 4 8 4s-1.5.895-1.5 2S7.172 8 8 8Z"/>
                                        <path d="M11.953 8.81c-.195-3.388-.968-5.507-1.777-6.819C9.707 1.233 9.23.751 8.857.454a3.495 3.495 0 0 0-.463-.315A2.19 2.19 0 0 0 8.25.064.546.546 0 0 0 8 0a.549.549 0 0 0-.266.073 2.312 2.312 0 0 0-.142.08 3.67 3.67 0 0 0-.459.33c-.37.308-.844.803-1.31 1.57-.805 1.322-1.577 3.433-1.774 6.756l-1.497 1.826-.004.005A2.5 2.5 0 0 0 2 12.202V15.5a.5.5 0 0 0 .9.3l1.125-1.5c.166-.222.42-.4.752-.57.214-.108.414-.192.625-.281l.198-.084c.7.428 1.55.635 2.4.635.85 0 1.7-.207 2.4-.635.067.03.132.056.196.083.213.09.413.174.627.282.332.17.586.348.752.57l1.125 1.5a.5.5 0 0 0 .9-.3v-3.298a2.5 2.5 0 0 0-.548-1.562l-1.499-1.83ZM12 10.445v.055c0 .866-.284 1.585-.75 2.14.146.064.292.13.425.199.39.197.8.46 1.1.86L13 14v-1.798a1.5 1.5 0 0 0-.327-.935L12 10.445ZM4.75 12.64C4.284 12.085 4 11.366 4 10.5v-.054l-.673.82a1.5 1.5 0 0 0-.327.936V14l.225-.3c.3-.4.71-.664 1.1-.861.133-.068.279-.135.425-.199ZM8.009 1.073c.063.04.14.094.226.163.284.226.683.621 1.09 1.28C10.137 3.836 11 6.237 11 10.5c0 .858-.374 1.48-.943 1.893C9.517 12.786 8.781 13 8 13c-.781 0-1.517-.214-2.057-.607C5.373 11.979 5 11.358 5 10.5c0-4.182.86-6.586 1.677-7.928.409-.67.81-1.082 1.096-1.32.09-.076.17-.135.236-.18Z"/>
                                        <path d="M9.479 14.361c-.48.093-.98.139-1.479.139-.5 0-.999-.046-1.479-.139L7.6 15.8a.5.5 0 0 0 .8 0l1.079-1.439Z"/>
                                      </svg>
                                    <h3>300+</h3>
                                    <span class="text-white">Startups</span>
                                </div>
                            </div>                           
                            

                           
                        </div>
                    </div>
                </section>	


                




                <section id="section-about" data-bgimage="url(images/bg/4) top left no-repeat" style="background: url(&quot;images/bg/4&quot;) left top / cover no-repeat;">
                    <div class="wm wm-border light wow fadeInDown animated" style="visibility: visible; animation-name: fadeInDown; background-size: cover; opacity: 0;">Unravelling</div>
                        <div class="container" style="background-size: cover;">
                            <div class="row align-items-center" style="background-size: cover;">
                                
                                <div class="col-lg-6 wow fadeInLeft animated" data-wow-delay="0s" style="visibility: visible; animation-delay: 0s; animation-name: fadeInLeft; background-size: cover; opacity: 0;">
                                    <div class="row">
                                    <h2>Unravel IEDC Summit</h2>
                                    </div>
                                    <div class="row">
                                    <div class="col-lg-6 wow fadeIn animated" data-wow-delay="0s" style="visibility: visible; animation-delay: 0s; animation-name: fadeIn; background-size: cover;">
                                        <div class="box-number square" style="background-size: cover;">
                                           <i class="bg-color hover-color-2 fa fa-microphone text-light"></i>
                                            <div class="text" style="background-size: cover;">
                                                <h3><span>Express</span></h3>
                                                <ul>
                                                    <li>Idea Pitching</li>
                                                    <li>Product Showcase</li>
                                                    <li>Flea Market</li>
                                                    
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
            
                                    <div class="col-lg-6 wow fadeIn animated" data-wow-delay=".25s" style="visibility: visible; animation-delay: 0.25s; animation-name: fadeIn; background-size: cover;">
                                        <div class="box-number square" style="background-size: cover;">
                                            <i class="bg-color hover-color-2 fa fa-lightbulb-o text-light"></i>
                                            <div class="text" style="background-size: cover;">
                                                <h3><span>Experiment</span></h3>
                                                
                                                    <ul>
                                                        <li>Hackathons</li>
                                                        <li>Ideathons</li>
                                                        <li>Challenges</li>
                                                        
                                                    </ul>
                                                
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 wow fadeIn animated" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeIn; background-size: cover;">
                                        <div class="box-number square" style="background-size: cover;">
                                            <i class="bg-color hover-color-2 fa fa-sitemap text-light"></i>
                                            <div class="text" style="background-size: cover;">
                                                <h3><span>Explore</span></h3>
                                                <ul>
                                                    <li>Masterclasses</li>
                                                    <li>Workshops</li>
                                                    <li>Communities</li>
                                                    <li>Mentor Clinics</li>
                                                    <li>Investor Connects</li>
        
                                                    
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
            
                                    
            
                                    <div class="col-lg-4 wow fadeIn animated" data-wow-delay=".75s" style="visibility: visible; animation-delay: 0.75s; animation-name: fadeIn; background-size: cover;">
                                        <div class="box-number square" style="background-size: cover;">
                                            <i class="bg-color hover-color-2 fa fa-building text-light"></i>
                                            <div class="text" style="background-size: cover;">
                                                <h3><span>Experience</span></h3>
                                                <ul>
                                                    <li>Experience Zones</li>
                                                    <li>Networking</li>
                                                    <li>Industries</li>
                                                    <li>Corporates</li>
                                                    <li>Government</li>
        
                                                    
                                                </ul>
                                            </div>
                                        </div>
                                    </div> 
                                    </div>
                                    
                                    <div class="spacer10" style="background-size: cover;"></div>                                  
                                    
                                </div>
                                
                                <div class="col-lg-6 mb-sm-30 text-center wow fadeInRight animated" style="visibility: visible; animation-name: fadeInRight; background-size: cover; opacity: 0;">
                                    <div class="de-images" style="background-size: cover;">
                                        <!--<img class="di-small wow fadeIn animated" src="images/sjcet1.jpg" alt="" style="visibility: visible; animation-name: fadeIn; opacity: 0;">-->
                                        <img class="di-small-2" src="images/ajce1.jpg" alt="">
                                        <img class="img-fluid wow fadeInRight animated" data-wow-delay=".25s" src="images/sjcet4.jpg" alt="" style="visibility: visible; animation-delay: 0.25s; animation-name: fadeInRight; opacity: 0;">
                                    </div>
                                </div>
    
                            </div>
                        </div>
                    </section>
                    
                                  
                    <section>
                         
                    </section>
                    <section id="section-portfolio" class="no-top no-bottom" aria-label="section" style="background-size: cover;">
                        <div class="wm wm-border light wow fadeInDown">dimensions</div>
                        <div class="row">
                            <div class="container">
                            <h2>Explore the dimensions</h2>
                            </div>
                        </div>            
                        <div id="gallery" class="gallery zoom-gallery full-gallery de-gallery pf_full_width wow fadeInUp animated" data-wow-delay=".3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp; background-size: cover; position: relative; height: 152.35px;">
        
                            <!-- gallery item -->
                            <div class="item residential" style="background-size: cover; position: absolute; left: 0px; top: 0px;">
                                <div class="picframe" style="background-size: cover;">
                                    <a href="#" title="View Details">
                                        <span class="overlay" style="opacity: 0; width: 367px; height: 244px;">
                                            <span class="pf_text" style="margin-top: 82px;">
                                                <span class="project-name">Expert Speakers</span>
                                            </span>
                                        </span>
                                        <img src="images/portfolio/es.jpg" alt="">
                                    </a>
                                </div>
                            </div>
                            <!-- close gallery item -->
        
                            <!-- gallery item -->
                            <div class="item hospitaly" style="background-size: cover; position: absolute; left: 228px; top: 0px;">
                                <div class="picframe" style="background-size: cover;">
                                    <a href="#" title="View Details">
                                        <span class="overlay" style="opacity: 0; width: 229px; height: 152px;">
                                            <span class="pf_text" style="margin-top: 36px;">
                                                <span class="project-name">Panel Discussions</span>
                                            </span>
                                        </span>
                                        <img src="images/portfolio/pd.jpg" alt="">
                                    </a>
                                </div>
                            </div>
                            <!-- close gallery item -->
        
                            <!-- gallery item -->
                            <div class="item hospitaly" style="background-size: cover; position: absolute; left: 457px; top: 0px;">
                                <div class="picframe" style="background-size: cover;">
                                    <a href="images/portfolio/mc.jpg" title="View Details">
                                        <span class="overlay" style="opacity: 0; width: 229px; height: 152px;">
                                            <span class="pf_text" style="margin-top: 36px;">
                                                <span class="project-name">Master Classes</span>
                                            </span>
                                        </span>
                                        <img src="images/portfolio/mc.jpg" alt="">
                                    </a>
                                </div>
                            </div>
                            <!-- close gallery item -->
        
                            <!-- gallery item -->
                            <div class="item residential" style="background-size: cover; position: absolute; left: 686px; top: 0px;">
                                <div class="picframe" style="background-size: cover;">
                                    <a href="images/portfolio/ws.jpg" title="View Details">
                                        <span class="overlay" style="opacity: 0; width: 229px; height: 152px;">
                                            <span class="pf_text" style="margin-top: 36px;">
                                                <span class="project-name">Workshops</span>
                                            </span>
                                        </span>
                                        <img src="images/portfolio/ws.jpg" alt="">
                                    </a>
                                </div>
                            </div>
                            <!-- close gallery item -->
                        
                            <!-- gallery item -->
                            <div class="item residential" style="background-size: cover; position: absolute; left: 0px; top: 0px;">
                                <div class="picframe" style="background-size: cover;">
                                    <a href="images/portfolio/ez.jpg" title="View Details">
                                        <span class="overlay" style="opacity: 0; width: 367px; height: 244px;">
                                            <span class="pf_text" style="margin-top: 82px;">
                                                <span class="project-name">Experience Zones</span>
                                            </span>
                                        </span>
                                        <img src="images/portfolio/ez.jpg" alt="">
                                    </a>
                                </div>
                            </div>
                            <!-- close gallery item -->
        
                            <!-- gallery item -->
                            <div class="item hospitaly" style="background-size: cover; position: absolute; left: 228px; top: 0px;">
                                <div class="picframe" style="background-size: cover;">
                                    <a href="images/portfolio/ic.jpg" title="View Details">
                                        <span class="overlay" style="opacity: 0; width: 229px; height: 152px;">
                                            <span class="pf_text" style="margin-top: 36px;">
                                                <span class="project-name">Investor Connect</span>
                                            </span>
                                        </span>
                                        <img src="images/portfolio/ic.jpg" alt="">
                                    </a>
                                </div>
                            </div>
                            <!-- close gallery item -->
        
                            <!-- gallery item -->
                            <div class="item hospitaly" style="background-size: cover; position: absolute; left: 457px; top: 0px;">
                                <div class="picframe" style="background-size: cover;">
                                    <a href="images/portfolio/ms.jpg" title="View Details">
                                        <span class="overlay" style="opacity: 0; width: 229px; height: 152px;">
                                            <span class="pf_text" style="margin-top: 36px;">
                                                <span class="project-name">Mentorship Support</span>
                                            </span>
                                        </span>
                                        <img src="images/portfolio/ms.jpg" alt="">
                                    </a>
                                </div>
                            </div>
                            <!-- close gallery item -->
        
                            <!-- gallery item -->
                            <div class="item residential" style="background-size: cover; position: absolute; left: 686px; top: 0px;">
                                <div class="picframe" style="background-size: cover;">
                                    <a href="images/portfolio/no.jpg" title="View Details">
                                        <span class="overlay" style="opacity: 0; width: 229px; height: 152px;">
                                            <span class="pf_text" style="margin-top: 36px;">
                                                <span class="project-name">Nodal Officers Training</span>
                                            </span>
                                        </span>
                                        <img src="images/portfolio/no.jpg" alt="">
                                    </a>
                                </div>
                            </div>
                            <!-- close gallery item -->
                        </div>             
                    </section>                               
 

                    <section id="section-features" style="background-size: cover;">
                        <div class="wm wm-border light wow fadeInDown  animated" style="visibility: visible; animation-name: fadeInDown; background-size: cover;">uniting</div>
                        <div class="container" style="background-size: cover;">
                            <div class="row" style="background-size: cover;">
                                <div class="col-md-6 offset-md-3 text-center wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp; background-size: cover;">
                                    <h1>Join us</h1>
                                    <div class="separator" style="background-size: cover;"><span><i class="fa fa-square"></i></span></div>
                                    <div class="spacer-single" style="background-size: cover;"></div>
                                </div>
                                    
                                <div class="col-lg-4 wow fadeIn animated py-3" data-wow-delay="0s" style="visibility: visible; animation-delay: 0s; animation-name: fadeIn; background-size: cover;">
                                    <div class="max-w-md rounded overflow-hidden shadow-lg px-2 py-2">
                                    <div class="box-number square" style="background-size: cover;">
                                       <i class="bg-color hover-color-2 fa fa-graduation-cap text-light"></i>
                                        <div class="text" style="background-size: cover;">
                                            <h3><span>Students</span></h3>
                                            <p>Young innovators of the state who wish to pursue their dream of developing a product and building their startups 
                                                <br><button class="appearance-none rounded-full border-0 px-3 py-1 bg-pink-600 text-white hover:bg-pink-700" onclick="popup('iedc-summit-2023-230400');">Grab your Tickets</button></p>
                                            
                                        </div>
                                    </div>
                                </div>
                                </div>
        
                                <div class="col-lg-4 wow fadeIn animated py-3" data-wow-delay=".25s" style="visibility: visible; animation-delay: 0.25s; animation-name: fadeIn; background-size: cover;">
                                    <div class="max-w-md rounded overflow-hidden shadow-lg px-2 py-2">
                                        <div class="box-number square" style="background-size: cover;">
                                        <i class="bg-color hover-color-2 fa fa-briefcase text-light"></i>
                                        <div class="text" style="background-size: cover;">
                                            <h3><span>Faculty</span></h3>
                                            <p>Changemakers enabling the innovators of the state to pursue their dreams and guiding them to excellence 
                                                <br><button class="appearance-none rounded-full border-0 px-3 py-1 bg-pink-600 text-white hover:bg-pink-700" onclick="popup('iedc-summit-2023-230400');">Grab your Tickets</button>
                                            </p>
                                        </div>
                                    </div>
                                    </div>
                                </div>
        
                                <div class="col-lg-4 wow fadeIn animated py-3" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeIn; background-size: cover;">
                                    <div class="max-w-md rounded overflow-hidden shadow-lg px-2 py-2">
                                        <div class="box-number square" style="background-size: cover;">
                                        <i class="bg-color hover-color-2 fa fa-user text-light"></i>
                                        <div class="text" style="background-size: cover;">
                                            <h3><span>Interested individuals</span></h3>
                                            <p>Any interested personnel with an innovative mindset and interest could attend the IEDC Summit 2023
                                                <br><button class="appearance-none rounded-full border-0 px-3 py-1 bg-pink-600 text-white hover:bg-pink-700" onclick="popup('iedc-summit-2023-230400');">Grab your Tickets</button>
                                            </p>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                            
                                <div class="col-lg-4 wow fadeIn animated py-3" data-wow-delay="1.25s" style="visibility: visible; animation-delay: 1.25s; animation-name: fadeIn; background-size: cover;">
                                    <div class="max-w-md rounded overflow-hidden shadow-lg px-2 py-2">
                                        <div class="box-number square" style="background-size: cover;">
                                        <i class="bg-color hover-color-2 fa fa-building text-light"></i>
                                        <div class="text" style="background-size: cover;">
                                            <h3><span>Corporates</span></h3>
                                            <p>Opening up the corporate doors and problem statements to the students will bring out innovative solutions
                                                <br>
                                                <a href="https://forms.gle/3hRrWxjifWkPne1x5" class="btn-appearance-none rounded-full border-0 px-3 py-1 bg-violet-600 text-white hover:bg-pink-700 text-white" target="_blank">Express Interest</a>
                                            </p>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 wow fadeIn animated py-3" data-wow-delay="1.25s" style="visibility: visible; animation-delay: 1.25s; animation-name: fadeIn; background-size: cover;">
                                    <div class="max-w-md rounded overflow-hidden shadow-lg px-2 py-2">
                                        <div class="box-number square" style="background-size: cover;">
                                        <i class="bg-color hover-color-2 fa fa-cog text-light"></i>
                                        <div class="text" style="background-size: cover;">
                                            <h3><span>Industry</span></h3>
                                            <p>Exposure to industry plays a major role in development of a knowledge economy and this is the best venue
                                                <br>
                                                <a href="https://forms.gle/SttriCfzDvvrWzDv7" class="btn-appearance-none rounded-full border-0 px-3 py-1 bg-violet-600 text-white hover:bg-pink-700 text-white" target="_blank">Express Interest</a>
                                            </p>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                             
        
                                <div class="col-lg-4 wow fadeIn animated py-3" data-wow-delay=".75s" style="visibility: visible; animation-delay: 0.75s; animation-name: fadeIn; background-size: cover;">
                                    <div class="max-w-md rounded overflow-hidden shadow-lg px-2 py-2">
                                        <div class="box-number square" style="background-size: cover;">
                                        <i class="bg-color hover-color-2 fa fa-users text-light"></i>
                                        <div class="text" style="background-size: cover;">
                                            <h3><span>Community</span></h3>
                                            <p>The right place to interact with students and advocate your cause, and a great platform to elevate your community
                                                <br>
                                                <a href="https://forms.gle/T7y3QDBxHvENMfU37" class="btn-appearance-none rounded-full border-0 px-3 py-1 bg-violet-600 text-white hover:bg-pink-700 text-white" target="_blank">Express Interest</a>
                                                
                                            </p>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                            
        
                                <div class="col-lg-4 wow fadeIn animated py-3" data-wow-delay="1s" style="visibility: visible; animation-delay: 1s; animation-name: fadeIn; background-size: cover;">
                                    <div class="max-w-md rounded overflow-hidden shadow-lg px-2 py-2">
                                        <div class="box-number square" style="background-size: cover;">
                                        <i class="bg-color hover-color-2  fa fa-rocket text-light"></i>
                                        <div class="text" style="background-size: cover;">
                                            <h3><span>Startups</span></h3>
                                            <p>Engagement with the startups will motivate more students to pursue their dreams and transalate to new startups
                                                <br>
                                                <a href="https://forms.gle/TRj5EXWhfxWm7pQT7" class="btn-appearance-none rounded-full border-0 px-3 py-1 bg-violet-600 text-white hover:bg-pink-700 text-white" target="_blank">Express Interest</a>
                                            </p>
                                        </div>
                                    </div>
                                    </div>
                                </div>

                                <div class="col-lg-4 wow fadeIn animated py-3" data-wow-delay="1.25s" style="visibility: visible; animation-delay: 1.25s; animation-name: fadeIn; background-size: cover;">
                                    <div class="max-w-md rounded overflow-hidden shadow-lg px-2 py-2">
                                        <div class="box-number square" style="background-size: cover;">
                                        <i class="bg-color hover-color-2 fa fa-money text-light"></i>
                                        <div class="text" style="background-size: cover;">
                                            <h3><span>Investors</span></h3>
                                            <p>The spotlight for the investors to find the best early stage ideas, invest in them and take to next level
                                                <br>
                                                <a href="https://forms.gle/AFjPyZDjojxuckcw9" class="btn-appearance-none rounded-full border-0 px-3 py-1 bg-violet-600 text-white hover:bg-pink-700 text-white" target="_blank">Express Interest</a>
                                            </p>
                                        </div>
                                    </div>
                                    </div>
                                </div>

                                <div class="col-lg-4 wow fadeIn animated py-3" data-wow-delay="1.25s" style="visibility: visible; animation-delay: 1.25s; animation-name: fadeIn; background-size: cover;">
                                    <div class="max-w-md rounded overflow-hidden shadow-lg px-2 py-2">
                                    <div class="box-number square" style="background-size: cover;">
                                        <i class="bg-color hover-color-2 fa fa-handshake-o text-light"></i>
                                        <div class="text" style="background-size: cover;">
                                            <h3><span>Mentors</span></h3>
                                            <p>Guiding the young innovators and giving them a helping hand in the right direction will give rise to future unicorns
                                                <br>
                                                <a href="https://forms.gle/GLnhAj2yp8aVLd6L8" class="btn-appearance-none rounded-full border-0 px-3 py-1 bg-violet-600 text-white hover:bg-pink-700 text-white" target="_blank">Express Interest</a> 
                                            </p>
                                        </div>
                                    </div>
                                    </div>
                                </div>                           
        
                                <div class="col-lg-4 wow fadeIn animated py-3" data-wow-delay="1.25s" style="visibility: visible; animation-delay: 1.25s; animation-name: fadeIn; background-size: cover;">
                                    <div class="max-w-md rounded overflow-hidden shadow-lg px-2 py-2">
                                    <div class="box-number square" style="background-size: cover;">
                                        <i class="bg-color hover-color-2 fa fa-bank text-light"></i>
                                        <div class="text" style="background-size: cover;">
                                            <h3><span>Government Departments</span></h3>
                                            <p>The best venue for the Government departments who wishes to engage with the aspiring entrepreneurs
                                                <br>
                                                <a href="https://forms.gle/NtftyyeaQMMnTkfT6" class="btn-appearance-none rounded-full border-0 px-3 py-1 bg-violet-600 text-white hover:bg-pink-700 text-white" target="_blank">Express Interest</a>
                                            </p>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                                <div class="spacer-single sm-hide" style="background-size: cover;"></div>
                                
        
                            </div>
                        </div>
                    </section>


         
           
            <!-- logo carousel section close -->
            <section id="section-precursor" class="no-top no-bottom" aria-label="section" style="background-size: cover;">
                <div class="wm wm-border light wow fadeInDown animated" style="visibility: visible; animation-name: fadeInDown; background-size: cover; opacity: 0;">perspectives</div>                    
                <div class="col-md-6 offset-md-3 text-center wow fadeInUp">
                <h1 class="text-5xl">Precursor Events</h1>
                <div class="separator"><span><i class="fa fa-square"></i></span></div>
                <div class="spacer-single"></div>
                </div>
                <div class="flex px-4 justify-evenly wow fadeInUp">
                <div class="max-w-md rounded overflow-hidden shadow-lg">
                    <img
                    class="w-full"
                    src="images/cycle.jpeg"
                    alt="Sunset in the mountains"
                    />
                    <div class="px-6 py-4">
                    <div class="font-bold text-2xl mb-2">Cyclothon</div>
                    <p class="text-gray-700 text-base">
                        IEDC SUMMIT 2023 Cyclothon is a precursor event for SUMMIT 2023 that aims to promote ways to reduce carbon footprint by encouraging citizens to choose greener ways of commute. 
IEDC SUMMIT 2023 Cyclothon: "Spin for Sustainability" appeals to you to join us and pedal for a safer and greener tomorrow!!
                    </p>
                    </div>
                    <div class="items-center d-flex center justify-center pt-1 pb-1 ">
                    <button
                        class="bg-blue-500 text-white mb-3 hover:bg-blue-700 font-semibold py-2 px-4 border border-gray-400 rounded shadow"
                         onclick="popup('iedc-summit-2023-230400');"    
                    >
                        Register
                    </button>
                    </div>
                </div>
               <!-- <div class="max-w-sm rounded overflow-hidden shadow-lg">
                    <img
                    class="w-full"
                    src="images/bg-rset.jpg"
                    alt="Sunset in the mountains"
                    />
                    <div class="px-6 py-4">
                    <div class="font-bold text-xl mb-2">Women</div>
                    <p class="text-gray-700 text-base">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Voluptatibus quia, nulla! Maiores et perferendis eaque,
                        exercitationem praesentium nihil.
                    </p>
                    </div>
                    <div class="px-6 pt-4 pb-2 justify-right">
                    <button
                        class="bg-blue-600 text-white mb-3 hover:bg-blue-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow"
                    >
                        Register
                    </button>
                    </div>
                </div>-->
                </div>
            </section>
            <section>
			<div class="wm wm-border light wow fadeInDown  animated" style="visibility: visible; animation-name: fadeInDown; background-size: cover;">pastevents</div>
            </section>
			<section id="section-fun-facts" class="jarallax text-light">
                
                <img src="images/bg/iluviedcbg2.png" class="jarallax-img" alt="">
                <div class="container">
                     
						<div class="row flex">
                            <div class="row">
                                <div class="col-md-2">
                                   <iframe width="100%" height="150" src="https://www.youtube.com/embed/k1wGLf7s5tA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
                                </div>
                                <div class="col-md-2">
                                   <iframe width="100%" height="150" src="https://www.youtube.com/embed/XrPAxDk_dM4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
                                </div>
                                <div class="col-md-2">
                                   <iframe width="100%" height="150" src="https://www.youtube.com/embed/iUsuwIyFzIk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
                                </div>
                                <div class="col-md-2">
                                    <iframe width="100%" height="150" src="https://www.youtube.com/embed/UqKGvZuhsCU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
                                </div>
                                <div class="col-md-2">
                                    <iframe width="100%" height="150" src="https://www.youtube.com/embed/zxxGtCYnhD4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
                                </div>
                                <div class="col-md-2">
                                    <iframe width="100%" height="150" src="https://www.youtube.com/embed/ryX0wWPhy18" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
                                </div>
                                
                             </div>                           
                            

                           
                        </div>
                    </div>
                </section>

                


                <section data-bgimage="url(images/bg/4.png) top left no-repeat">
                    <div class="wm wm-border light wow fadeInDown">venue</div>
                        <div class="container-xl">
                            <div class="row align-items-center">
                                
                                <div class="col-lg-6 wow fadeInLeft" data-wow-delay="0s">
                                    <h2 class="text-5xl" style="color:rgb(8, 8, 120)" >About the Host</h2>
                                    <p class="pt-3">Rajagiri School of Engineering & Technology (Autonomous), Kakkanad, Kochi is a premier Institution affiliated to A P J Abdul Kalam Technological University.The University Grants Commission has granted autonomous status to RSET from 2020 onwards. RSET is an AICTE approved college offering excellence in engineering education and research. Undergraduate Programmes offered by the college are NBA accredited and the college is accredited 'A' grade in the second cycle by NAAC. </p>

                                    
                                    
                                    <div class="spacer10"></div>
                                    
                                    <!-- <a href="#" class="btn-custom font-weight-bold text-white sm-mb-30">About Us</a> -->
                                </div>
                                
                                <div class="col-lg-6 mb-sm-30 text-center wow fadeInRight">
                                    <div class="de-images">
                                        <img class="img-fluid wow fadeInRight" data-wow-delay=".25s" src="images/misc/rset2.jpg" alt="" />
                                    </div>
                                </div>
    
                            </div>
                        </div>
                        
                    </section>

                <section id="section-reach" data-bgimage="url(images/bg/4.png) top left no-repeat">
                    <div class="wm wm-border light wow fadeInDown">reachus</div>
                        <div class="container-xl">
                            <div class="row align-items-center">
                                
                                <div class=" col-lg-6 wow fadeInLeft" data-wow-delay="0s">
                                    <p class="text-3xl">Reach us</p>
                                    <h2 class="text-5xl" style="color:rgb(8, 8, 120)" >Get Directions to the Event</h2>
                                    <p class="pt-3">Rajagiri School of Engineering & Technology<br>Rajagiri Valley Rd, Rajagiri Valley,<br>Kakkanad, Kerala 682039</p>
                                    
                                    
                                    <div class="spacer10"></div>
                                    
                                    <!-- <a href="#" class="btn-custom font-weight-bold text-white sm-mb-30">About Us</a> -->
                                </div>
                                
                                <div class="col-lg-6 mb-sm-30 text-center wow fadeInRight">
                                        <div>
                                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3929.283066703128!2d76.3580909!3d9.9934604!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3b080ca6b98ae0f7%3A0xc81786bb40617774!2sRajagiri%20School%20Of%20Engineering%20%26%20Technology%20Kakkanad!5e0!3m2!1sen!2sin!4v1675339967680!5m2!1sen!2sin" width="100%" height="450;" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                                    </div>

                                </div>
    
                            </div>
                        </div>
                        
                    </section>

                



            <!-- footer begin -->
        <footer class="style-2 p-0 m-0">
            <div class="container">
                <div class="row">


                    <div class="col-md-6  col-xs-6 wow fadeIn d-flex justify-content-center flex-column" data-wow-delay=".5s">
                        <div class="de_count flex flex-row justify-center items-center space-x-5">
                            <img class="w-25 px-2" src="images/logo/KSUM.png" />
                            <img class=" w-25 px-2"   src="images/logo/iedcwh.png" />
                        </div>
                        
                        <div class="de_count m-0 p-0">
                            <p  class="">Kerala Startup Mission | Government of Kerala <br>G3B, Thejaswini, Technopark Campus <br> Kariyavattom, Trivandrum, Kerala 695581</p>
                            <div class="social-icons">
                                <a href="https://www.facebook.com/keralastartupmission/"><i class="fa fa-facebook fa-lg"></i></a>
                                <a href="https://twitter.com/startup_mission/"><i class="fa fa-twitter fa-lg"></i></a>
                                <a href="https://www.instagram.com/keralastartupmission/"><i class="fa fa-instagram fa-lg"></i></a>
                                <a href="https://www.linkedin.com/company/kerala-startup-mission/?originalSubdomain=in"><i class="fa fa-linkedin fa-lg"></i></a>
                            </div>
                            <p class=""> For Queries <br/> iedckerala@startupmission.in</p>
                            <p  class=""> Bergin S Russel <br/> iedckerala@startupmission.in <br/>6238998379 </p>

                        </div>
                    </div>
                    
                    <div class="col-md-6  col-xs-6 wow fadeIn d-flex justify-content-center flex-column" data-wow-delay=".5s">
                        <div class="de_count flex flex-row justify-center items-center space-x-5 ">
                            <img class="w-25 px-2" src="images/logo/rsetinnov.png" />
                            <img class=" w-25 px-2"  src="images/logo/rset-transparent.png" />
                        </div>
                        
                        <div class="de_count m-0 p-0">
                            <p  class=""> Rajagiri School of Engineering & Technology<br>Rajagiri Valley, Kakkanad  <br> Kochi, Kerala, 682039</p>


                            <div class="social-icons">
                                <a href="https://www.facebook.com/people/RSET-IEDC/100068476695865/"><i class="fa fa-facebook fa-lg"></i></a>
                                <a href="https://www.instagram.com/rsetiedc/?igshid=10lmkxmqfwgjh"><i class="fa fa-instagram fa-lg"></i></a>
                                <a href="https://www.linkedin.com/company/rset-iedc/"><i class="fa fa-linkedin fa-lg"></i></a>
                                <a href="https://www.youtube.com/channel/UCVzfXE9R2PBBDJyJmPwSyQQ"><i class="fa fa-youtube fa-lg"></i></a>

                            </div>
                          
                            <p class=""> For Queries <br/> rsetiedc@rajagiritech.edu.in</p>
                            <p  class=""> Nitheesh Kurian <br/> nitheeshk@rajagiritech.edu.in <br/>9497413879</p>
                        </div>
                    </div>

                    

                </div>
            </div>

            <p class="de_count m-0 p-0 mt-1">Copyright  2023 Kerala Startup Mission. All Rights Reserved.</p>
        </footer>
        <!-- footer close -->
    </div>
    
    <noscript id="tsNoJsMsg" is:inline>Javascript on your browser is not enabled.</noscript>
    <script is:inline src="https://www.townscript.com/static/Bookingflow/js/townscript-widget.nocache.js" type="text/javascript"></script>
      
</Layout>