---
import Layout from "../layouts/Layout.astro";
import Schedule from "../components/Schedule.astro";

---

<Layout>
  <button
    onclick="history.back()"
    class="bg-transparent border-none absolute p-4"
    ><img style="height:75px;" src="/images/summitlogo.png" alt="Logo" />
  </button>
  
  <Schedule />
</Layout>
