---
import Schedule from "../components/Schedule.astro";
import Layout from "../layouts/Layout.astro";



---
<Layout>

    <button onclick="history.back()" class=" bg-transparent border-none absolute  p-4"><img style = "height:100px;" src="/images/summitlogo.png" alt="Logo" ></button>
    <Schedule/>


</Layout>