<section
  id="section-colab"
  class="no-top no-bottom pt-2 bg-black"

>


<div
class="wm wm-border light wow fadeInDown animated pt-5"
style="visibility: visible; animation-name: fadeInDown; background-size: cover; opacity: 0;"
>
Community
</div>


<div class="col-md-6 offset-md-3 text-center wow fadeInUp">
    <h1 class="text-5xl mt-5 pt-5">Community Partners</h1>
    <div class="separator"><span><i class="fa fa-square"></i></span></div>
    <div class="spacer-single"></div>
</div>


<div class="flex flex-wrap justify-content-center">

    <img   style="height: 120px; " class = " p-3 m-2" src="/images/partners/awslogo.png">
    <img  style="height: 120px; " class = " p-3 m-2"  src="/images/partners/gdglogo.png">
    <img   style="height: 120px; " class = " p-3 m-2" src="/images/partners/tinkerlogo.png">
    <img   style="height: 120px; " class = " p-3 m-2" src="/images/partners/cloudimage.png">
    <img  style="height: 120px; " class = " p-3 m-2"  src="/images/partners/sinroimg.png">
    <img   style="height: 120px; " class = " p-3 m-2" src="/images/partners/UiPath.png">
    <img   style="height: 120px; " class = " p-3 m-2" src="/images/partners/wordpress.png">
    <img   style="height: 120px; " class = " p-3 m-2" src="/images/partners/Polygon.png">
    <img   style="height: 120px; " class = " p-3 m-2" src="/images/partners/phoenix.png">

</div>


</section>
