<section
  id="section-events"
  class="no-top no-bottom"
  aria-label="section"
  style="background-size: cover;"
>
  <div
    class="wm wm-border light wow fadeInDown animated"
    style="visibility: visible; animation-name: fadeInDown; background-size: cover; opacity: 0;"
  >
    Events
  </div>
  <div class="col-md-6 offset-md-3 text-center wow fadeInUp">
    <h1 class="text-5xl">Events</h1>
    <div class="separator"><span><i class="fa fa-square"></i></span></div>
    <div class="spacer-single"></div>
  </div>

  <div
    class="d-flex flex-wrap justify-content-center x-space-5 row"
    style="background-size: cover;"
  >
    <div
      class="flex flex-wrap px-4 py-sm-4 justify-evenly wow fadeInUp animated"
      style="background-size: cover; visibility: visible; animation-name: fadeInUp;"
    >
      <div
        class="px-2 py-2 max-w-md rounded overflow-hidden shadow-lg pb-4 col-sm-4"
        style="background-size: cover;"
      >
        <div class="de-event-list">
          <img
            class="event-pic w-full"
            src="images/events/ideathon.jpeg"
            alt="Ideathon Poster"
          />
          <div
            class="event-desc ease-in duration-300 img-rounded flex justify-content-center flex-column"
          >
            <h2 class="text-blue-600">Ideathon</h2>
            <p class="lead mb-1 text-white">
              Ideathons can be a starting point for entrepreneurs looking to
              launch their own business ventures. By providing a platform for
              individuals to pitch their ideas and receive feedback, ideathons
              can help turn innovative concepts into viable business plans.
            </p>
          </div>
        </div>

        <div class="px-4 flex justify-between pt-2">
          <div class="text-2xl font-bold text-blue-600">Ideathon</div>

          <div class="flex justify-end">
            <a href="https://bit.ly/summit23_ideathon">
              <button
                class="bg-blue-500 text-1xl text-white hover:bg-blue-700 font-semibold py-2 px-4 border border-gray-400 rounded shadow"
              >
                Register
              </button>
            </a>
          </div>
        </div>
      </div>

      <div
        class="px-2 py-2 max-w-md rounded overflow-hidden shadow-lg pb-4 col-sm-4"
        style="background-size: cover;"
      >
        <div class="de-event-list">
          <img
            class="event-pic w-full"
            src="images/events/mind.jpeg"
            alt="M.I.N.D Poster"
          />
          <div
            class="event-desc ease-in duration-300 img-rounded flex justify-content-center flex-column"
          >
            <h2 class="text-blue-600">M.I.N.D</h2>
            <p class="lead mb-1 text-white">
              M.I.N.D provides a unique opportunity for the student innovators
              to leverage the knowledge and expertise of industry leaders,
              experienced founders, subject experts from the startup ecosystem.
            </p>
          </div>
        </div>

        <div class="px-4 flex justify-between pt-2">
          <div class="text-2xl font-bold text-blue-600">M.I.N.D</div>

          <div class="flex justify-end">
            <a href="http://bit.ly/MIND_YB_iedc">
              <button
                class="bg-blue-500 text-1xl text-white hover:bg-blue-700 font-semibold py-2 px-4 border border-gray-400 rounded shadow"
              >
                Register
              </button>
            </a>
          </div>
        </div>
      </div>

      <div
        class="px-2 py-2 max-w-md rounded overflow-hidden shadow-lg pb-4 col-sm-4"
        style="background-size: cover;"
      >
        <div class="de-event-list">
          <img
            class="event-pic w-full"
            src="images/events/master.jpg"
            alt="Master Poster"
          />
          <div
            class="event-desc ease-in duration-300 img-rounded flex justify-content-center flex-column"
          >
            <h2 class="text-blue-600">Master Classes</h2>
            <p class="lead mb-1 text-white">
              IEDC Summit 2023 calls upon all interested individuals for a
              session on leadership in various dimensions such as Finance,
              Community, Operations, Technology and Marketing.
            </p>
          </div>
        </div>

        <div class="px-4 flex justify-between pt-2">
          <div class="text-2xl font-bold text-blue-600">Master Classes</div>

          <div class="flex justify-end">
            <a href="https://bit.ly/Masterclasses_Summit">
              <button
                class="bg-blue-500 text-1xl text-white hover:bg-blue-700 font-semibold py-2 px-4 border border-gray-400 rounded shadow"
              >
                Register
              </button>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Event Section Closes -->
</section>
<section></section>
