<section
  id="section-events"
  class="no-top no-bottom pt-5"
  aria-label="section"
  style="background-size: cover;"
>
  <div
    class="wm wm-border light wow fadeInDown animated  mt-1"
    style="visibility: visible; animation-name: fadeInDown; background-size: cover; opacity: 0;"
  >
    Events
  </div>
  <div class="col-md-6 offset-md-3 text-center wow fadeInUp">
    <h1 class="text-5xl pt-5 mt-5">Events</h1>
    <div class="separator"><span><i class="fa fa-square"></i></span></div>
    <div class="spacer-single"></div>
  </div>

  <div
    class="d-flex flex-wrap justify-content-center x-space-5 row"
    style="background-size: cover;"
  >
    <div
      class="flex flex-wrap px-4 py-sm-4 wow fadeInUp animated"
      style="background-size: cover; visibility: visible; animation-name: fadeInUp;"
    >


    <!-- ideathon -->
      <div
        class="px-2 my-2 max-w-md rounded overflow-hidden shadow-lg pb-2 col-sm-3"
        style="background-size: cover;"
      >
        <div class="de-event-list">
          <img
            class="event-pic w-full"
            src="/images/events/ideathon.jpeg"
            alt="Ideathon Poster"
          />
          <div
            class="event-desc ease-in duration-300 img-rounded flex justify-content-center flex-column"
          >
            <h2 class="text-blue-600">Ideathon</h2>
            <p class="lead mb-1 text-white">
              Ideathons can be a starting point for entrepreneurs looking to
              launch their own business ventures.
            </p>
          </div>
        </div>

        <div class="px-4 flex justify-between pt-2">
          <div class="text-1xl font-bold text-blue-600">Ideathon</div>

          <div class="flex justify-end">
            <a href="https://bit.ly/summit23_ideathon">
              <button
                class="bg-blue-500 text-1xl text-white hover:bg-blue-700 font-semibold py-2 px-4 border border-gray-400 rounded shadow"
              >
                Register
              </button>
            </a>
          </div>
        </div>
      </div>



      <!-- mind -->
      <div
        class="px-2 my-2 max-w-md rounded overflow-hidden shadow-lg pb-2 col-sm-3"
        style="background-size: cover;"
      >
        <div class="de-event-list">
          <img
            class="event-pic w-full"
            src="/images/events/mind.jpeg"
            alt="M.I.N.D Poster"
          />
          <div
            class="event-desc ease-in duration-300 img-rounded flex justify-content-center flex-column"
          >
            <h2 class="text-blue-600">M.I.N.D</h2>
            <p class="lead mb-1 text-white">
              M.I.N.D provides a unique opportunity for the student innovators
              to leverage the knowledge and expertise of industry leaders,
              experienced founders, subject experts from the startup ecosystem.
            </p>
          </div>
        </div>

        <div class="px-4 flex justify-between pt-2">
          <div class="text-1xl font-bold text-blue-600">M.I.N.D</div>

          <div class="flex justify-end">
            <a href="http://bit.ly/MIND_YB_iedc">
              <button
                class="bg-blue-500 text-1xl text-white hover:bg-blue-700 font-semibold py-2 px-4 border border-gray-400 rounded shadow"
              >
                Register
              </button>
            </a>
          </div>
        </div>
      </div>



      <!-- master classes -->
      <div
        class="px-2 my-2 max-w-md rounded overflow-hidden shadow-lg pb-2 col-sm-3"
        style="background-size: cover;"
      >
        <div class="de-event-list">
          <img
            class="event-pic w-full"
            src="/images/events/master.jpg"
            alt="Master Poster"
          />
          <div
            class="event-desc ease-in duration-300 img-rounded flex justify-content-center flex-column"
          >
            <h2 class="text-blue-600">Master Classes</h2>
            <p class="lead mb-1 text-white">
              IEDC Summit 2023 calls upon all interested individuals for a
              session on leadership in various dimensions such as Finance,
              Community, Operations, Technology and Marketing.
            </p>
          </div>
        </div>

        <div class="px-4 flex justify-between pt-2">
          <div class="text-1xl font-bold text-blue-600">Master Classes</div>

          <div class="flex justify-end">
            <a href="https://bit.ly/Masterclasses_Summit" target="_blank">
              <button
                class="bg-blue-500 text-1xl text-white hover:bg-blue-700 font-semibold py-2 px-4 border border-gray-400 rounded shadow"
              >
                Register
              </button>
            </a>
          </div>
        </div>
      </div>



      <!-- makerfest -->
      <div
        class="px-2 my-2 max-w-md rounded overflow-hidden shadow-lg pb-2 col-sm-3"
        style="background-size: cover;"
      >
        <div class="de-event-list">
          <img
            class="event-pic w-full"
            src="/images/events/makerfest.jpeg"
            alt="Ideathon Poster"
          />
          <div
            class="event-desc ease-in duration-300 img-rounded flex justify-content-center flex-column"
          >
            <h2 class="text-blue-600">Maker Fest Kerala</h2>
            <p class="lead mb-1 text-white">
              An ultimate destination to witness the future of invention and
              learn how to unleash your own inner creator.
            </p>
          </div>
        </div>

        <div class="px-4 flex justify-between pt-2">
          <div class="text-1xl font-bold text-blue-600">Maker Fest Kerala</div>
        </div>
      </div>



      <!-- steag -->
      <div
        class="px-2 my-2 max-w-md rounded overflow-hidden shadow-lg pb-2 col-sm-3"
        style="background-size: cover;"
      >
        <div class="de-event-list">
          <img
            class="event-pic w-full"
            src="/images/events/steag.jpeg"
            alt="Ideathon Poster"
          />
          <div
            class="event-desc ease-in duration-300 img-rounded flex justify-content-center flex-column"
          >
            <h2 class="text-blue-600">The STEAG DESIGN WEEKEND</h2>
            <p class="lead text-white">
              A two-day extravaganza that includes the Maker Fest followed by a
              one-day-innovation workshop led by experts in the field.
            </p>
          </div>
        </div>

        <div class="px-4 flex justify-between pt-2">
          <div class="text-1xl font-bold text-blue-600">
            The STEAG DESIGN WEEKEND
          </div>
          <div class="flex justify-end">
            <a href="https://bit.ly/STEAG_INNOVATION_WORKSHOP" target="_blank">
              <button
                class="bg-blue-500 text-1xl text-white hover:bg-blue-700 font-semibold py-2 px-4 border border-gray-400 rounded shadow"
              >
                Register
              </button>
            </a>
          </div>
        </div>
      </div>



      <!-- Cloud Computing Workshop -->
      <div
        class="px-2 my-2 max-w-md rounded overflow-hidden shadow-lg pb-2 col-sm-3"
        style="background-size: cover;"
      >
        <div class="de-event-list">
          <img
            class="event-pic w-full"
            src="/images/events/aws.jpg"
            alt="Ideathon Poster"
          />
          <div
            class="event-desc ease-in duration-300 img-rounded flex justify-content-center flex-column"
          >
            <h2 class="text-blue-600">Cloud Computing Workshop</h2>
            <p class="lead mb-1 text-white">
              Workshop on Linux and Cloud Fundamentals.
            </p>
          </div>
        </div>

        <div class="px-4 flex justify-between pt-2">
          <div class="text-1xl font-bold text-blue-600">
            Cloud Computing Workshop
          </div>

          <div class="flex justify-end">
            <a href="http://bit.ly/Cloud_101" target="_blank">
              <button
                class="bg-blue-500 text-1xl text-white hover:bg-blue-700 font-semibold py-2 px-4 border border-gray-400 rounded shadow"
              >
                Register
              </button>
            </a>
          </div>
        </div>
      </div>



      <!-- Blockchain: The Internet of Value -->
      <div
        class="px-2 my-2 max-w-md rounded overflow-hidden shadow-lg pb-2 col-sm-3"
        style="background-size: cover;"
      >
        <div class="de-event-list">
          <img
            class="event-pic w-full"
            src="/images/events/polygon.png"
            alt="Ideathon Poster"
          />
          <div
            class="event-desc ease-in duration-300 img-rounded flex justify-content-center flex-column"
          >
            <h2 class="text-blue-600">Blockchain: The Internet of Value</h2>
            <p class="lead mb-1 text-white">
              Workshop focusing on generating your own ERC token in Etherium.
            </p>
          </div>
        </div>

        <div class="px-4 flex justify-between pt-2">
          <div class="text-1xl font-bold text-blue-600">
            Blockchain: The Internet of Value
          </div>

          <div class="flex justify-end">
            <a href="https://forms.gle/pf4tzyDSEwrCR7rc6" target="_blank">
              <button
                class="bg-blue-500 text-1xl text-white hover:bg-blue-700 font-semibold py-2 px-4 border border-gray-400 rounded shadow"
              >
                Register
              </button>
            </a>
          </div>
        </div>
      </div>



      <!-- SiteWize -->
      <div
        class="px-2 my-2 max-w-md rounded overflow-hidden shadow-lg pb-2 col-sm-3"
        style="background-size: cover;"
      >
        <div class="de-event-list">
          <img
            class="event-pic w-full"
            src="/images/events/workshop1.jpg"
            alt="Workshop"
          />
          <div
            class="event-desc ease-in duration-300 img-rounded flex justify-content-center flex-column"
          >
            <h2 class="text-blue-600">SiteWize</h2>
            <p class="lead mb-1 text-white">
              A workshop by WordPress involves training and education on various
              topics related to website development and management.
            </p>
          </div>
        </div>

        <div class="px-4 flex justify-between pt-2">
          <div class="text-1xl font-bold text-blue-600">SiteWize</div>

          <div class="flex justify-end">
            <a href="https://bit.ly/SITEWIZE" target="_blank">
              <button
                class="bg-blue-500 text-1xl text-white hover:bg-blue-700 font-semibold py-2 px-4 border border-gray-400 rounded shadow"
              >
                Register
              </button>
            </a>
          </div>
        </div>
      </div>

 
<!-- get analysed -->
      <div
        class="px-2 my-2 max-w-md rounded overflow-hidden shadow-lg pb-2 col-sm-3"
        style="background-size: cover;"
      >
        <div class="de-event-list">
          <img
            class="event-pic w-full"
            src="/images/events/Analyzed.jpg"
            alt="Analyzed Poster"
          />
          <div
            class="event-desc ease-in duration-300 img-rounded flex justify-content-center flex-column"
          >
            <h2 class="text-blue-600">Get Analyzed - It's all about Data</h2>
            <p class="lead mb-1 text-white">
              GDG workshop on Introduction to Exploratory Data Analysis and NLP
              by Ashfak KA, ML Engineer,Zappyhire.
            </p>
          </div>
        </div>

        <div class="px-4 flex justify-between pt-2">
          <div class="text-1xl font-bold text-blue-600">Get Analyzed</div>

          <div class="flex justify-end">
            <a href="https://bit.ly/GetAnalyzed" target="_blank">
              <button
                class="bg-blue-500 text-1xl text-white hover:bg-blue-700 font-semibold py-2 px-4 border border-gray-400 rounded shadow"
              >
                Register
              </button>
            </a>
          </div>
        </div>
      </div>


<!-- The heist -->
      <div
        class="px-2 my-2 max-w-md rounded overflow-hidden shadow-lg pb-2 col-sm-3"
        style="background-size: cover;"
      >
        <div class="de-event-list">
          <img
            class="event-pic w-full"
            src="/images/events/heist.jpg"
            alt="Ideathon Poster"
          />
          <div
            class="event-desc ease-in duration-300 img-rounded flex justify-content-center flex-column"
          >
            <h2 class="text-blue-600">The Heist</h2>
            <p class="lead mb-1 text-white">
              A game consisting of interesting clues and riddles.
            </p>
          </div>
        </div>

        <div class="px-4 flex justify-between pt-2">
          <div class="text-1xl font-bold text-blue-600">The Heist</div>

          <div class="flex justify-end">

            <a href="https://bit.ly/IEDC_Heist" target="_blank">
              <button
              class="bg-blue-500 text-1xl text-white hover:bg-blue-700 font-semibold py-2 px-4 border border-gray-400 rounded shadow"
              >
              Register
            </button>
          </a>
          </div>
        </div>
      </div>



<!-- Roboworks -->
    <div
    class="px-2 my-2 max-w-md rounded overflow-hidden shadow-lg pb-2 col-sm-3"
    style="background-size: cover;"
    >
    <div class="de-event-list">
      <img
        class="event-pic w-full"
        src="/images/events/roboworx.jpg"
        alt="Ideathon Poster"
      />
      <div
        class="event-desc ease-in duration-300 img-rounded flex justify-content-center flex-column"
      >
        <h2 class="text-blue-600">RoboWorx: A Hands-On ROS Workshop</h2>
        <p class="lead mb-1 text-white">
          A Hands-On ROS Workshop will be taken by SinroRobotics.
        </p>
      </div>
    </div>

    <div class="px-4 flex justify-between pt-2">
      <div class="text-1xl font-bold text-blue-600">RoboWorx</div>

      <div class="flex justify-end">
        <a href="http://bit.ly/RoboWorx" target="_blank">
        <button
          class="bg-blue-500 text-1xl text-white hover:bg-blue-700 font-semibold py-2 px-4 border border-gray-400 rounded shadow"
        >
          Register
        </button></a>
      </div>
    </div>
    </div>



<!-- Expo -->
    <div
    class="px-2 my-2 max-w-md rounded overflow-hidden shadow-lg pb-2 col-sm-3"
    style="background-size: cover;"
    >
    <div class="de-event-list">
      <img
        class="event-pic w-full"
        src="/images/events/expo.jpeg"
        alt="Ideathon Poster"
      />
      <div
        class="event-desc ease-in duration-300 img-rounded flex justify-content-center flex-column"
      >
        <h2 class="text-blue-600">GREENDRIVE EV Expo</h2>
        <p class="lead mb-1 text-white">
          GREENDRIVE EV Expo by TATA, KIA, VAAN
        </p>
      </div>
    </div>

    <div class="px-4 flex justify-between pt-2">
      <div class="text-1xl font-bold text-blue-600">GREENDRIVE EV Expo</div>


    </div>
    </div>


    <!-- SCALE UP -->
    <div
    class="px-2 my-2 max-w-md rounded overflow-hidden shadow-lg pb-2 col-sm-3"
    style="background-size: cover;"
    >
    <div class="de-event-list">
      <img
        class="event-pic w-full"
        src="/images/events/scale.jpeg"
        alt="Ideathon Poster"
      />
      <div
        class="event-desc ease-in duration-300 img-rounded flex justify-content-center flex-column"
      >
        <h2 class="text-blue-600">SCALE UP</h2>
        <p class="lead mb-1 text-white">
          A platform to showcase innovative ideas and potentially secure funding and support to bring them to life.
        </p>
      </div>
    </div>

    <div class="px-4 flex justify-between pt-2">
      <div class="text-1xl font-bold text-blue-600">SCALE UP</div>


    </div>
    </div>


    





      <!-- The Virtual Frontier -->
      <div
        class="px-2 my-2 max-w-md rounded overflow-hidden shadow-lg pb-2 col-sm-3"
        style="background-size: cover;"
      >
        <div class="de-event-list">
          <img
            class="event-pic w-full"
            src="/images/events/virtual.jpeg"
            alt="Ideathon Poster"
          />
          <div
            class="event-desc ease-in duration-300 img-rounded flex justify-content-center flex-column"
          >
            <h2 class="text-blue-600">The Virtual Frontier</h2>
            <p class="lead mb-1 text-white">
              The Ultimate AR/VR Experience by XR Horizon.
            </p>
          </div>
        </div>

        <div class="px-4 flex justify-between pt-2">
          <div class="text-1xl font-bold text-blue-600">
            The Virtual Frontier
          </div>

        
        </div>
      </div>




      <!-- Aerove -->
      <div
        class="px-2 my-2 max-w-md rounded overflow-hidden shadow-lg pb-2 col-sm-3"
        style="background-size: cover;"
      >
        <div class="de-event-list">
          <img
            class="event-pic w-full"
            src="/images/events/drone.jpeg"
            alt="Ideathon Poster"
          />
          <div
            class="event-desc ease-in duration-300 img-rounded flex justify-content-center flex-column"
          >
            <h2 class="text-blue-600">Aerove</h2>
            <p class="lead mb-1 text-white">
              A drone workshop by DRONE RACERS KERALA.
            </p>
          </div>
        </div>

        <div class="px-4 flex justify-between pt-2">
          <div class="text-1xl font-bold text-blue-600">
            Aerove
          </div>

          <div class="flex justify-end">
            <a href = "https://bit.ly/Aerove" target = "_blank">

              <button
              class="bg-blue-500 text-1xl text-white hover:bg-blue-700 font-semibold py-2 px-4 border border-gray-400 rounded shadow"
              >
              Register
            </button>
          </a>
          </div>
        </div>
      </div>


      <!-- Drone Workshop -->
      <div
        class="px-2 my-2 max-w-md rounded overflow-hidden shadow-lg pb-2 col-sm-3"
        style="background-size: cover;"
      >
        <div class="de-event-list">
          <img
            class="event-pic w-full"
            src="/images/events/dronebuild.jpeg"
            alt="Ideathon Poster"
          />
          <div
            class="event-desc ease-in duration-300 img-rounded flex justify-content-center flex-column"
          >
            <h2 class="text-blue-600">Drone Workshop</h2>
            <p class="lead mb-1 text-white">
              Drone Building Workshop By Monzha Research Labs.
            </p>
          </div>
        </div>

        <div class="px-4 flex justify-between pt-2">
          <div class="text-1xl font-bold text-blue-600">
            Drone Workshop
          </div>

          <div class="flex justify-end">
            <a href = "https://bit.ly/DroneBuildingWorkshop" target = "_blank">

              <button
              class="bg-blue-500 text-1xl text-white hover:bg-blue-700 font-semibold py-2 px-4 border border-gray-400 rounded shadow"
              >
              Register
            </button>
          </a>
          </div>
        </div>
      </div>



    <!-- Build a Bot -->
    <div
    class="px-2 my-2 max-w-md rounded overflow-hidden shadow-lg pb-2 col-sm-3"
    style="background-size: cover;"
  >
    <div class="de-event-list">
      <img
        class="event-pic w-full"
        src="/images/events/build.jpg"
        alt="Ideathon Poster"
      />
      <div
        class="event-desc ease-in duration-300 img-rounded flex justify-content-center flex-column"
      >
        <h2 class="text-blue-600">Build a Bot</h2>
        <p class="lead mb-1 text-white">
          Workshop on 'Build a Bot' by UI Path
        </p>
      </div>
    </div>

    <div class="px-4 flex justify-between pt-2">
      <div class="text-1xl font-bold text-blue-600">Build a Bot</div>

      <div class="flex justify-end">
        <button
          class="bg-blue-500 text-1xl text-white hover:bg-blue-700 font-semibold py-2 px-4 border border-gray-400 rounded shadow"
        >
          Coming Soon
        </button>
      </div>
    </div>
  </div>



  <!-- Introduction to Web3 -->
    <div
      class="px-2 my-2 max-w-md rounded overflow-hidden shadow-lg pb-2 col-sm-3"
      style="background-size: cover;"
    >
      <div class="de-event-list">
        <img
          class="event-pic w-full"
          src="/images/events/web3.jpg"
          alt="Ideathon Poster"
        />
        <div
          class="event-desc ease-in duration-300 img-rounded flex justify-content-center flex-column"
        >
          <h2 class="text-blue-600">Introduction to Web3</h2>
          <p class="lead mb-1 text-white">
            Panel Discussion on topic related web3.
          </p>
        </div>
      </div>

      <div class="px-4 flex justify-between pt-2">
        <div class="text-1xl font-bold text-blue-600">
          Introduction to Web3
        </div>

        <div class="flex justify-end">
          <button
            class="bg-blue-500 text-1xl text-white hover:bg-blue-700 font-semibold py-2 px-4 border border-gray-400 rounded shadow"
          >
            Coming Soon
          </button>
        </div>
      </div>
    </div>


      <!-- GDG Panel Discussion -->
      <div
        class="px-2 my-2 max-w-md rounded overflow-hidden shadow-lg pb-2 col-sm-3"
        style="background-size: cover;"
      >
        <div class="de-event-list">
          <img
            class="event-pic w-full"
            src="/images/events/gdg.jpg"
            alt="Ideathon Poster"
          />
          <div
            class="event-desc ease-in duration-300 img-rounded flex justify-content-center flex-column"
          >
            <h2 class="text-blue-600">GDG Panel Discussion</h2>
            <p class="lead mb-1 text-white">
              Panel discussion on 'How AI affects job economy'.
            </p>
          </div>
        </div>

        <div class="px-4 flex justify-between pt-2">
          <div class="text-1xl font-bold text-blue-600">
            GDG Panel Discussion
          </div>

          <div class="flex justify-end">
            <button
              class="bg-blue-500 text-1xl text-white hover:bg-blue-700 font-semibold py-2 px-4 border border-gray-400 rounded shadow"
            >
              Coming Soon
            </button>
          </div>
        </div>
      </div>



      <!-- TinkerHub learning Station -->
      <div
        class="px-2 my-2 max-w-md rounded overflow-hidden shadow-lg pb-2 col-sm-3"
        style="background-size: cover;"
      >
        <div class="de-event-list">
          <img
            class="event-pic w-full"
            src="/images/events/learning.jpg"
            alt="Ideathon Poster"
          />
          <div
            class="event-desc ease-in duration-300 img-rounded flex justify-content-center flex-column"
          >
            <h2 class="text-blue-600">TinkerHub learning Station</h2>
            <p class="lead mb-1 text-white">Learning Station by TinkerHub.</p>
          </div>
        </div>

        <div class="px-4 flex justify-between pt-2">
          <div class="text-1xl font-bold text-blue-600">
            TinkerHub learning Station
          </div>

          <div class="flex justify-end">
            <button
              class="bg-blue-500 text-1xl text-white hover:bg-blue-700 font-semibold py-2 px-4 border border-gray-400 rounded shadow"
            >
              Coming Soon
            </button>
          </div>
        </div>
      </div>



      <!-- Pixelxcapade -->
      <div
        class="px-2 my-2 max-w-md rounded overflow-hidden shadow-lg pb-2 col-sm-3"
        style="background-size: cover;"
      >
        <div class="de-event-list">
          <img
            class="event-pic w-full"
            src="/images/events/gaming.jpg"
            alt="Ideathon Poster"
          />
          <div
            class="event-desc ease-in duration-300 img-rounded flex justify-content-center flex-column"
          >
            <h2 class="text-blue-600">Pixelxcapade</h2>
            <p class="lead mb-1 text-white">
              Gaming station by Inspired systems.
            </p>
          </div>
        </div>

        <div class="px-4 flex justify-between pt-2">
          <div class="text-1xl font-bold text-blue-600">Pixelxcapade</div>

          <div class="flex justify-end">
            <button
              class="bg-blue-500 text-1xl text-white hover:bg-blue-700 font-semibold py-2 px-4 border border-gray-400 rounded shadow"
            >
              Coming Soon
            </button>
          </div>
        </div>
      </div>




      <!-- Startup Expo -->
      <div
        class="px-2 my-2 max-w-md rounded overflow-hidden shadow-lg pb-2 col-sm-3"
        style="background-size: cover;"
      >
        <div class="de-event-list">
          <img
            class="event-pic w-full"
            src="/images/events/startup.jpg"
            alt="Ideathon Poster"
          />
          <div
            class="event-desc ease-in duration-300 img-rounded flex justify-content-center flex-column"
          >
            <h2 class="text-blue-600">Startup Expo</h2>
            <p class="lead mb-1 text-white">
              A platform for various established/registered startups.
            </p>
          </div>
        </div>

        <div class="px-4 flex justify-between pt-2">
          <div class="text-1xl font-bold text-blue-600">Startup Expo</div>

          <div class="flex justify-end">
            <button
              class="bg-blue-500 text-1xl text-white hover:bg-blue-700 font-semibold py-2 px-4 border border-gray-400 rounded shadow"
            >
              Coming Soon
            </button>
          </div>
        </div>
      </div>



      <!-- Product Expo -->
      <div
        class="px-2 my-2 max-w-md rounded overflow-hidden shadow-lg pb-2 col-sm-3"
        style="background-size: cover;"
      >
        <div class="de-event-list">
          <img
            class="event-pic w-full"
            src="/images/events/product.jpg"
            alt="Ideathon Poster"
          />
          <div
            class="event-desc ease-in duration-300 img-rounded flex justify-content-center flex-column"
          >
            <h2 class="text-blue-600">Product Expo</h2>
            <p class="lead mb-1 text-white">
              A platform for student projects from KITE.
            </p>
          </div>
        </div>

        <div class="px-4 flex justify-between pt-2">
          <div class="text-1xl font-bold text-blue-600">Product Expo</div>

          <div class="flex justify-end">
            <button
              class="bg-blue-500 text-1xl text-white hover:bg-blue-700 font-semibold py-2 px-4 border border-gray-400 rounded shadow"
            >
              Coming Soon
            </button>
          </div>
        </div>
      </div>


      <!-- Unplugged -->
      <div
        class="px-2 my-2 max-w-md rounded overflow-hidden shadow-lg pb-2 col-sm-3"
        style="background-size: cover;"
      >
        <div class="de-event-list">
          <img
            class="event-pic w-full"
            src="/images/events/unplugged.jpg"
            alt="Ideathon Poster"
          />
          <div
            class="event-desc ease-in duration-300 img-rounded flex justify-content-center flex-column"
          >
            <h2 class="text-blue-600">Unplugged</h2>
            <p class="lead mb-1 text-white">
              An event where students share about their favorite entrepreneurs
              while the audience enjoys impromptu singing accompanied by
              instrumentalists from Malhar.
            </p>
          </div>
        </div>

        <div class="px-4 flex justify-between pt-2">
          <div class="text-1xl font-bold text-blue-600">Unplugged</div>

          <div class="flex justify-end">
            <button
              class="bg-blue-500 text-1xl text-white hover:bg-blue-700 font-semibold py-2 px-4 border border-gray-400 rounded shadow"
            >
              Coming Soon
            </button>
          </div>
        </div>
      </div>



      <!-- Film Fest -->
      <div
        class="px-2 my-2 max-w-md rounded overflow-hidden shadow-lg pb-2 col-sm-3"
        style="background-size: cover;"
      >
        <div class="de-event-list">
          <img
            class="event-pic w-full"
            src="/images/events/filmfest.jpg"
            alt="Ideathon Poster"
          />
          <div
            class="event-desc ease-in duration-300 img-rounded flex justify-content-center flex-column"
          >
            <h2 class="text-blue-600">Film Fest</h2>
            <p class="lead mb-1 text-white">
              As part of the summit day activities, a selection of movies with
              an entrepreneurship theme will be streamed for attendees to watch
              and gain insights from.
            </p>
          </div>
        </div>

        <div class="px-4 flex justify-between pt-2">
          <div class="text-1xl font-bold text-blue-600">Film Fest</div>

          <div class="flex justify-end">
            <button
              class="bg-blue-500 text-1xl text-white hover:bg-blue-700 font-semibold py-2 px-4 border border-gray-400 rounded shadow"
            >
              Coming Soon
            </button>
          </div>
        </div>
      </div>



      <!-- Live Games -->
      <div
        class="px-2 my-2 max-w-md rounded overflow-hidden shadow-lg pb-2 col-sm-3"
        style="background-size: cover;"
      >
        <div class="de-event-list">
          <img
            class="event-pic w-full"
            src="/images/events/game.jpg"
            alt="Ideathon Poster"
          />
          <div
            class="event-desc ease-in duration-300 img-rounded flex justify-content-center flex-column"
          >
            <h2 class="text-blue-600">Live Games</h2>
            <p class="lead mb-1 text-white">
              A series of live games, including "Spin the Wheel," "Jim Jam," and
              "Do You Dare," will be set up at various venues across the college
              campus for students to participate in.
            </p>
          </div>
        </div>

        <div class="px-4 flex justify-between pt-2">
          <div class="text-1xl font-bold text-blue-600">Live Games</div>

          <div class="flex justify-end">
            <button
              class="bg-blue-500 text-1xl text-white hover:bg-blue-700 font-semibold py-2 px-4 border border-gray-400 rounded shadow"
            >
              Coming Soon
            </button>
          </div>
        </div>
      </div>



    </div>
  </div>
  <!-- Event Section Closes -->
</section>
<section></section>