<!-- --  Events Section Begin  --> 

<!-- <section id="section-events" class="no-top no-bottom" aria-label="section" style="background-size: cover;">
  <div class="wm wm-border light wow fadeInDown animated" style="visibility: visible; animation-name: fadeInDown; background-size: cover; opacity: 0;">Events</div>                    
  <div class="col-md-6 offset-md-3 text-center wow fadeInUp">
    <h1 class="text-5xl">Events</h1>
      <div class="separator"><span><i class="fa fa-square"></i></span></div>
    <div class="spacer-single"></div>
  </div>
    

  <div class=" d-flex  flex-wrap justify-content-center  x-space-5" style="background-size: cover;">
    <div class="flex flex-wrap px-4 py-sm-4 justify-evenly wow fadeInUp animated" style="background-size: cover; visibility: visible; animation-name: fadeInUp;">
      <div class="max-w-md rounded overflow-hidden shadow-lg" style="background-size: cover;">
        <img class="w-full" src="images/events/ideathon.jpeg" alt="Ideathon Poster">
        <div class="px-6 py-4" style="background-size: cover;">
          <div class="font-bold text-2xl mb-2" style="background-size: cover;">Ideathon</div>
          <p class="text-gray-700 text-base">
              Ideathons can be a starting point for entrepreneurs looking to launch their own business ventures. By providing a platform for individuals to pitch their ideas and receive feedback, ideathons can help turn innovative concepts into viable business plans.
          </p>
          <div class="items-center d-flex center justify-center pt-1 pb-1 " style="background-size: cover;">
            <a href="https://bit.ly/summit23_ideathon">
              <button class="bg-blue-500 text-white mt-4 hover:bg-blue-700 font-semibold py-2 px-4 border border-gray-400 rounded shadow">
                  Register
              </button>
            </a>
          </div>
        </div> 
      </div>
    </div>
  </div>
</section> -->
<!-- Event Section Closes -->



<!----  Events Section Begin  --> 

<section id="section-events" class="no-top no-bottom" aria-label="section" style="background-size: cover;">
  <div class="wm wm-border light wow fadeInDown animated" style="visibility: visible; animation-name: fadeInDown; background-size: cover; opacity: 0;">Events</div>                    
  <div class="col-md-6 offset-md-3 text-center wow fadeInUp">
    <h1 class="text-5xl">Events</h1>
      <div class="separator"><span><i class="fa fa-square"></i></span></div>
    <div class="spacer-single"></div>
  </div>
    

    <div class=" d-flex  flex-wrap justify-content-center  x-space-5" style="background-size: cover;">
      <div class="flex flex-wrap px-4 py-sm-4 justify-evenly wow fadeInUp animated" style="background-size: cover; visibility: visible; animation-name: fadeInUp;">
        
        
        <div class=" max-w-md rounded overflow-hidden shadow-lg pb-4" style="background-size: cover;">
        <div class="de-event-list">
          <img class="event-pic w-full" src="images/events/ideathon.jpeg" alt="Ideathon Poster">
           <div class="event-desc img-rounded flex justify-content-center flex-column">
            <h3>Ideathon</h3>
            <h4 class="lead mb-1 text-white">Ideathons can be a starting point for entrepreneurs looking to launch their own business ventures. By providing a platform for individuals to pitch their ideas and receive feedback, ideathons can help turn innovative concepts into viable business plans.</h4>
          </div>


          <div class="px-6 flex justify-between pt-4">
          <div class="text-2xl font-bold" >Ideathon </div>

          <div class="flex justify-end ">
              <a href="https://bit.ly/summit23_ideathon">
                <button class="bg-blue-500 text-1xl text-white hover:bg-blue-700 font-semibold py-2 px-4  border border-gray-400 rounded shadow">
                    Register
                </button>
              </a>
          </div>
          </div> 
        </div>
      
    

   
  </div>
  </div>
  </div>
</section>
<!-- Event Section Closes -->