<header class="">
    <div class="">
      <div class="row">
        <div class="col-md-12">
          <!-- logo begin -->
          <div id="logo">
            <a href="index.html">
              <img class=""  width="120" height="65" src="images/logo-white.svg" alt=""/>
            </a>
          </div>
          <!-- logo close -->
  
          <!-- small button begin -->

          <!-- small button close -->
  
          <!-- <div class="header-extra">
              <div class="v-center">
                  <span id="b-menu">
                      <span></span>
                      <span></span>
                      <span></span>
                  </span>
              </div>
          </div> -->
  
          <!-- mainmenu begin -->
          <ul id="mainmenu" class="ms-2 px-5">
            <li><a href="/">Home<span></span></a></li>

          </ul>
  
          <!-- mainmenu close -->
        </div>
      </div>
    </div>
  </header>
  