<section
  id="section-precursor"
  class="no-top no-bottom"
  aria-label="section"
  style="background-size: cover;"
>
  <div
    class="wm wm-border light wow fadeInDown animated"
    style="visibility: visible; animation-name: fadeInDown; background-size: cover; opacity: 0;"
  >
    Precursor
  </div>
  <div class="col-md-6 offset-md-3 text-center wow fadeInUp">
    <h1 class="text-5xl">Precursor Events</h1>
    <div class="separator"><span><i class="fa fa-square"></i></span></div>
    <div class="spacer-single"></div>
  </div>

  <div
    class="d-flex flex-wrap justify-content-center x-space-5 row"
    style="background-size: cover;"
  >




    <div
      class="flex flex-wrap px-4 py-sm-4  wow fadeInUp animated"
      style="background-size: cover; visibility: visible; animation-name: fadeInUp;"
    >
      <div
        class="px-2 py-2 max-w-md rounded overflow-hidden shadow-lg pb-4 col-sm-4"
        style="background-size: cover;"
      >
        <div class="de-event-list">
          <img
            class="event-pic w-full"
            src="images/cycle.jpeg"
            alt="Cyclothon Poster"
          />
          <div
            class="event-desc ease-in duration-300 img-rounded flex justify-content-center flex-column"
          >
            <h2 class="text-blue-600">Cyclothon</h2>
            <p class="lead mb-1 text-white">
                IEDC SUMMIT 2023 Cyclothon is a precursor event for SUMMIT 2023 that aims to promote ways to reduce carbon footprint by encouraging citizens to choose greener ways of commute. 
                IEDC SUMMIT 2023 Cyclothon: "Spin for Sustainability" appeals to you to join us and pedal for a safer and greener tomorrow!!
            </p>
          </div>
        </div>

        <div class="px-4 flex justify-between pt-2">
          <div class="text-2xl font-bold text-blue-600">Cyclothon</div>

          <div class="flex justify-end">
              <button
              data-bs-toggle="modal" data-bs-target="#exampleModal"
                class="bg-blue-500 text-1xl text-white hover:bg-blue-700 font-semibold py-2 px-4 border border-gray-400 rounded shadow"
              >
                Register
              </button>
          </div>
        </div>
      </div>

      <div
        class="px-2 py-2 max-w-md rounded overflow-hidden shadow-lg pb-4 col-sm-4"
        style="background-size: cover;"
      >
        <div class="de-event-list">
          <img
            class="event-pic w-full"
            src="images/PovHer.jpeg"
            alt="M.I.N.D Poster"
          />
          <div
            class="event-desc ease-in duration-300 img-rounded flex justify-content-center flex-column"
          >
            <h2 class="text-blue-600">PovHer</h2>
            <p class="lead mb-1 text-white">
                As part of our Precursor events for IEDC SUMMIT 2023, an exclusive Women's Meet was conducted on 11th February for the Women Leads from each IEDC. The event featured sessions on awareness of special schemes available for aspiring entrepreneurial women and encouraged them to take initiative in their entrepreneurial journeys.
            </p>
          </div>
        </div>

        <div class="px-4 flex justify-between pt-2">
          <div class="text-2xl font-bold text-blue-600">PovHer</div>

          <div class="flex justify-end">
            
            <a href = "https://www.instagram.com/p/Co2ZO6uIf1x/?next=%2F" target="_blank">
            <button
            class="bg-red-500 text-1xl text-white hover:bg-red-700 font-semibold py-2 px-4 border border-gray-400 rounded shadow"
          >
            View Event
          </button>
          </a>  

          </div>
        </div>
      </div>



      <div
        class="px-2 py-2 max-w-md rounded overflow-hidden shadow-lg pb-4 col-sm-4"
        style="background-size: cover;"
      >
        <div class="de-event-list">
          <img
            class="event-pic w-full"
            src="images/flashmob.jpg"
            alt="Master Poster"
          />
          <div
            class="event-desc ease-in duration-300 img-rounded flex justify-content-center flex-column"
          >
            <h2 class="text-blue-600">Flash Mob</h2>
            <p class="lead mb-1 text-white">
              Marine Drive in Kochi witnessed an electrifying performance by a group of individuals that left the spectators awestruck. It was a flashmob organized by RSET IEDC as a precursor to the IEDC Summit 2023, a flagship event of KSUM.
            </p>
          </div>
        </div>

        <div class="px-4 flex justify-between pt-2">
          <div class="text-2xl font-bold text-blue-600">Flash Mob</div>

          <div class="flex justify-end">

            <a href="https://www.instagram.com/p/CpAHK5QghLx/?next=%2F" target="_blank">
              <button
                class="bg-red-500 text-1xl text-white hover:bg-red-700 font-semibold py-2 px-4 border border-gray-400 rounded shadow"
              >
                View Event
              </button>
            </a>
          </div>
        </div>
      </div>





      <div
        class="px-2 py-2 max-w-md rounded overflow-hidden shadow-lg pb-4 col-sm-4"
        style="background-size: cover;"
      >
        <div class="de-event-list">
          <img
            class="event-pic w-full"
            src="images/central.jpeg"
            alt="Master Poster"
          />
          <div
            class="event-desc ease-in duration-300 img-rounded flex justify-content-center flex-column"
          >
            <h2 class="text-blue-600">Central zone Meetup</h2>
            <p class="lead mb-1 text-white">
              Central Zone Meetup was organized that sets the tone for the IEDC Summit 2023. This meetup was a precursor to the much-anticipated event that brings together innovative minds from across the globe to discuss entrepreneurship, innovation, and technological advancement.
            </p>
          </div>
        </div>

        <div class="px-4 flex justify-between pt-2">
          <div class="text-2xl font-bold text-blue-600">Central zone Meetup</div>

        </div>
      </div>



    </div>
  </div>
  <!-- Event Section Closes -->
</section>
<section></section>



<div class="modal fade fixed top-0 left-0 hidden w-full h-full outline-none overflow-x-hidden overflow-y-auto"
                    id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog relative w-auto pointer-events-none">
                        <div
                        class="modal-content border-none shadow-lg relative flex flex-col w-full pointer-events-auto bg-white bg-clip-padding rounded-md outline-none text-current">
                        <div
                            class="modal-header flex flex-shrink-0 items-center justify-between p-2 border-b border-gray-200 rounded-t-md">
                            <h5 class="text-xl font-medium leading-normal text-gray-800" id="exampleModalLabel">Register for Cyclothon</h5>
                            
                        </div>
                        <div class="modal-body relative p-2">
                            <iframe class="w-full" height="415" src="https://www.yepdesk.com/embed/open-register/63da8f03c9e77c000166e70b/vmkkcra385"></iframe>
                        </div>
                        <div
                            class="modal-footer flex flex-shrink-0 flex-wrap items-center justify-end p-2border-t border-gray-200 rounded-b-md">
                            <button type="button" class="px-6
                            py-2.5
                            bg-blue-600
                            text-white
                            font-medium
                            text-xs
                            leading-tight
                            uppercase
                            rounded
                            shadow-md
                            hover:bg-blue-700 hover:shadow-lg
                            focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0
                            active:bg-blue-800 active:shadow-lg
                            transition
                            duration-150
                            ease-in-out" data-bs-dismiss="modal">Close</button>
                           
                        </div>
                        </div>
                    </div>
</div>


<div class="modal fade fixed top-0 left-0 hidden w-full h-full outline-none overflow-x-hidden overflow-y-auto"
                    id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog relative w-auto pointer-events-none">
                        <div
                        class="modal-content border-none shadow-lg relative flex flex-col w-full pointer-events-auto bg-white bg-clip-padding rounded-md outline-none text-current">
                        <div
                            class="modal-header flex flex-shrink-0 items-center justify-between p-2 border-b border-gray-200 rounded-t-md">
                            <h5 class="text-xl font-medium leading-normal text-gray-800" id="exampleModalLabel">Register for Cyclothon</h5>
                            
                        </div>
                        <div class="modal-body relative p-2">
                            <iframe class="w-full" height="415" src="https://www.yepdesk.com/embed/open-register/63da8f03c9e77c000166e70b/vmkkcra385"></iframe>
                        </div>
                        <div
                            class="modal-footer flex flex-shrink-0 flex-wrap items-center justify-end p-2border-t border-gray-200 rounded-b-md">
                            <button type="button" class="px-6
                            py-2.5
                            bg-blue-600
                            text-white
                            font-medium
                            text-xs
                            leading-tight
                            uppercase
                            rounded
                            shadow-md
                            hover:bg-blue-700 hover:shadow-lg
                            focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0
                            active:bg-blue-800 active:shadow-lg
                            transition
                            duration-150
                            ease-in-out" data-bs-dismiss="modal">Close</button>
                           
                        </div>
                        </div>
                    </div>
</div>


