		<section id="section-prev" class="jarallax text-light">
			<img src="images/bg/2019.jpg" class="jarallax-img" alt="2019" />
			<a href="https://iedcsummit.in/2019/"  target="_blank">
				<div><h1 class = "mt-3">IEDC SUMMIT 2019</h1></div>
			</a>
			<a href="https://iedcsummit.in/2022/"  target="_blank">
				<div><h1 class = "mt-3">IEDC SUMMIT 2022</h1></div>
			</a>
			<a href="https://iedcsummit.in/2021/"  target="_blank">
				<div><h1 class = "mt-3">IEDC SUMMIT 2021</h1></div>
			</a>
		</section>