<section id="section-previous" class="jarallax text-light">
  <a href="https://iedcsummit.in/2022/" target="_blank">
    <img src="images/bg/iluviedcbg2.png" class="jarallax-img" alt="" />
    <div><h1>IEDC SUMMIT 2022</h1></div>
  </a>
</section>
