<section id="section-schedule " aria-label="section-services-tab" data-bgimage="url(images/bg/6.jpg) top right no-repeat">
    <div class="wm wm-border light wow fadeInDown ">schedule</div>
    <div class="container px-5">
        <div class="row">
            <div class="col-md-6 offset-md-3 text-center wow fadeInUp">
                <h1>Event Schedule</h1>
                <div class="separator"><span><i class="fa fa-square"></i></span></div>
                <div class="spacer-single"></div>
            </div>

            <div class="col-md-12 wow fadeInUp">
                <div class="de_tab tab_style_4 text-center">
                    <ul class="de_nav de_nav_dark">
                        <li class="active" data-link="#section-services-tab">
                            <h3>KE</h3>
                            <h4>Auditorium</h4>
                        </li>
                        <li data-link="#section-services-tab">
                            <h3>Day <span>02</span></h3>
                            <h4>June 21, 2023</h4>
                        </li>
                        <li data-link="#section-services-tab">
                            <h3>Day <span>03</span></h3>
                            <h4>June 22, 2023</h4>
                        </li>
                        <li data-link="#section-services-tab">
                            <h3>Day <span>04</span></h3>
                            <h4>June 23, 2023</h4>
                        </li>
                        <li data-link="#section-services-tab">
                            <h3>Day <span>05</span></h3>
                            <h4>June 24, 2023</h4>
                        </li>
                    </ul>

                    <div class="de_tab_content text-left">

                        <div id="tab1" class="tab_single_content">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="schedule-listing">
                                        <div class="schedule-item">
                                            <div class="sc-time">08:00 - 10:00 AM</div>
                                            <div class="sc-pic">
                                                <img src="images/team/1.jpg" class="img-circle" alt="">
                                            </div>
                                            <div class="sc-name">
                                                <h4> </h4>
                                                <span> </span>
                                            </div>
                                            <div class="sc-info">
                                                <h3>Prayer</h3>
                                                <p>College Choir</p>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>

                                    <div class="schedule-listing">
                                        <div class="schedule-item">
                                            <div class="sc-time">12:00 - 14:00 PM</div>
                                            <div class="sc-pic">
                                                <img src="images/team/2.jpg" class="img-circle" alt="">
                                            </div>
                                            <div class="sc-name">
                                                <h4>Dr P.S Sreejith</h4>
                                                <span>Principal</span>
                                            </div>
                                            <div class="sc-info">
                                                <h3>Welcome</h3>
                                                <!-- <p>In this session we will discuss about digital topics in detail. You need laptops and other tech support equipment. This session will last for 2 hours. So prepare yourself.</p> -->
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>

                                    <div class="schedule-listing">
                                        <div class="schedule-item">
                                            <div class="sc-time">16:00 - 18:00 PM</div>
                                            <div class="sc-pic">
                                                <img src="images/team/3.jpg" class="img-circle" alt="">
                                            </div>
                                            <div class="sc-name">
                                                <h4>Sarah Michelle</h4>
                                                <span>Founder & CEO</span>
                                            </div>
                                            <div class="sc-info">
                                                <h3>Prepare Your Design Concept</h3>
                                                <p>In this session we will discuss about digital topics in detail. You need laptops and other tech support equipment. This session will last for 2 hours. So prepare yourself.</p>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>

                                    <div class="schedule-listing">
                                        <div class="schedule-item">
                                            <div class="sc-time">20:00 - 22:00 PM</div>
                                            <div class="sc-pic">
                                                <img src="images/team/4.jpg" class="img-circle" alt="">
                                            </div>
                                            <div class="sc-name">
                                                <h4>Katty Wilson</h4>
                                                <span>Founder & CEO</span>
                                            </div>
                                            <div class="sc-info">
                                                <h3>Creative Design Implementation Basic</h3>
                                                <p>In this session we will discuss about digital topics in detail. You need laptops and other tech support equipment. This session will last for 2 hours. So prepare yourself.</p>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="tab2" class="tab_single_content">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="schedule-listing">
                                        <div class="schedule-item">
                                            <div class="sc-time">08:00 - 12:00 AM</div>
                                            <div class="sc-pic">
                                                <img src="images/team/5.jpg" class="img-circle" alt="">
                                            </div>
                                            <div class="sc-name">
                                                <h4>Rose Shipp</h4>
                                                <span>Founder & CEO</span>
                                            </div>
                                            <div class="sc-info">
                                                <h3>Creative Design Implementation Basic 2</h3>
                                                <p>In this session we will discuss about digital topics in detail. You need laptops and other tech support equipment. This session will last for 2 hours. So prepare yourself.</p>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>

                                    <div class="schedule-listing">
                                        <div class="schedule-item">
                                            <div class="sc-time">12:00 - 14:00 PM</div>
                                            <div class="sc-pic">
                                                <img src="images/team/6.jpg" class="img-circle" alt="">
                                            </div>
                                            <div class="sc-name">
                                                <h4>Isaac Nicholas</h4>
                                                <span>Founder & CEO</span>
                                            </div>
                                            <div class="sc-info">
                                                <h3>How to Design Happiness</h3>
                                                <p>In this session we will discuss about digital topics in detail. You need laptops and other tech support equipment. This session will last for 2 hours. So prepare yourself.</p>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>

                                    <div class="schedule-listing">
                                        <div class="schedule-item">
                                            <div class="sc-time">16:00 - 18:00 PM</div>
                                            <div class="sc-pic">
                                                <img src="images/team/7.jpg" class="img-circle" alt="">
                                            </div>
                                            <div class="sc-name">
                                                <h4>John Arnold</h4>
                                                <span>Founder & CEO</span>
                                            </div>
                                            <div class="sc-info">
                                                <h3>Good Storytelling For Great Design</h3>
                                                <p>In this session we will discuss about digital topics in detail. You need laptops and other tech support equipment. This session will last for 2 hours. So prepare yourself.</p>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>

                                    <div class="schedule-listing">
                                        <div class="schedule-item">
                                            <div class="sc-time">20:00 - 22:00 PM</div>
                                            <div class="sc-pic">
                                                <img src="images/team/1.jpg" class="img-circle" alt="">
                                            </div>
                                            <div class="sc-name">
                                                <h4>John Smith</h4>
                                                <span>Founder & CEO</span>
                                            </div>
                                            <div class="sc-info">
                                                <h3>Unintuitive Lessons on Being a Designer</h3>
                                                <p>In this session we will discuss about digital topics in detail. You need laptops and other tech support equipment. This session will last for 2 hours. So prepare yourself.</p>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="tab3" class="tab_single_content">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="schedule-listing">
                                        <div class="schedule-item">
                                            <div class="sc-time">08:00 - 12:00 AM</div>
                                            <div class="sc-pic">
                                                <img src="images/team/2.jpg" class="img-circle" alt="">
                                            </div>
                                            <div class="sc-name">
                                                <h4>Michael Dennis</h4>
                                                <span>Founder & CEO</span>
                                            </div>
                                            <div class="sc-info">
                                                <h3>The Secret of Great App Design</h3>
                                                <p>In this session we will discuss about digital topics in detail. You need laptops and other tech support equipment. This session will last for 2 hours. So prepare yourself.</p>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>

                                    <div class="schedule-listing">
                                        <div class="schedule-item">
                                            <div class="sc-time">12:00 - 14:00 PM</div>
                                            <div class="sc-pic">
                                                <img src="images/team/3.jpg" class="img-circle" alt="">
                                            </div>
                                            <div class="sc-name">
                                                <h4>Sarah Michelle</h4>
                                                <span>Founder & CEO</span>
                                            </div>
                                            <div class="sc-info">
                                                <h3>Use Design Thinking in Your Everyday Routine</h3>
                                                <p>In this session we will discuss about digital topics in detail. You need laptops and other tech support equipment. This session will last for 2 hours. So prepare yourself.</p>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>

                                    <div class="schedule-listing">
                                        <div class="schedule-item">
                                            <div class="sc-time">16:00 - 18:00 PM</div>
                                            <div class="sc-pic">
                                                <img src="images/team/4.jpg" class="img-circle" alt="">
                                            </div>
                                            <div class="sc-name">
                                                <h4>Katty Wilson</h4>
                                                <span>Founder & CEO</span>
                                            </div>
                                            <div class="sc-info">
                                                <h3>Design Into The Real World</h3>
                                                <p>In this session we will discuss about digital topics in detail. You need laptops and other tech support equipment. This session will last for 2 hours. So prepare yourself.</p>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>

                                    <div class="schedule-listing">
                                        <div class="schedule-item">
                                            <div class="sc-time">20:00 - 22:00 AM</div>
                                            <div class="sc-pic">
                                                <img src="images/team/5.jpg" class="img-circle" alt="">
                                            </div>
                                            <div class="sc-name">
                                                <h4>Rose Shipp</h4>
                                                <span>Founder & CEO</span>
                                            </div>
                                            <div class="sc-info">
                                                <h3>Advanced Design Implementation</h3>
                                                <p>In this session we will discuss about digital topics in detail. You need laptops and other tech support equipment. This session will last for 2 hours. So prepare yourself.</p>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="tab4" class="tab_single_content">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="schedule-listing">
                                        <div class="schedule-item">
                                            <div class="sc-time">08:00 - 12:00 AM</div>
                                            <div class="sc-pic">
                                                <img src="images/team/6.jpg" class="img-circle" alt="">
                                            </div>
                                            <div class="sc-name">
                                                <h4>Isaac Nicholas</h4>
                                                <span>Founder & CEO</span>
                                            </div>
                                            <div class="sc-info">
                                                <h3>Advanced Design Implementation 2</h3>
                                                <p>In this session we will discuss about digital topics in detail. You need laptops and other tech support equipment. This session will last for 2 hours. So prepare yourself.</p>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>

                                    <div class="schedule-listing">
                                        <div class="schedule-item">
                                            <div class="sc-time">12:00 - 14:00 PM</div>
                                            <div class="sc-pic">
                                                <img src="images/team/7.jpg" class="img-circle" alt="">
                                            </div>
                                            <div class="sc-name">
                                                <h4>John Arnold</h4>
                                                <span>Founder & CEO</span>
                                            </div>
                                            <div class="sc-info">
                                                <h3>Branding, Identity &amp; Logo Design Explained</h3>
                                                <p>In this session we will discuss about digital topics in detail. You need laptops and other tech support equipment. This session will last for 2 hours. So prepare yourself.</p>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>

                                    <div class="schedule-listing">
                                        <div class="schedule-item">
                                            <div class="sc-time">16:00 - 18:00 PM</div>
                                            <div class="sc-pic">
                                                <img src="images/team/1.jpg" class="img-circle" alt="">
                                            </div>
                                            <div class="sc-name">
                                                <h4>John Smith</h4>
                                                <span>Founder & CEO</span>
                                            </div>
                                            <div class="sc-info">
                                                <h3>The Art of Personal Branding</h3>
                                                <p>In this session we will discuss about digital topics in detail. You need laptops and other tech support equipment. This session will last for 2 hours. So prepare yourself.</p>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>

                                    <div class="schedule-listing">
                                        <div class="schedule-item">
                                            <div class="sc-time">20:00 - 22:00 PM</div>
                                            <div class="sc-pic">
                                                <img src="images/team/2.jpg" class="img-circle" alt="">
                                            </div>
                                            <div class="sc-name">
                                                <h4>Michael Dennis</h4>
                                                <span>Founder & CEO</span>
                                            </div>
                                            <div class="sc-info">
                                                <h3>8 Secret Benefits of Branding</h3>
                                                <p>In this session we will discuss about digital topics in detail. You need laptops and other tech support equipment. This session will last for 2 hours. So prepare yourself.</p>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="tab5" class="tab_single_content">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="schedule-listing">
                                        <div class="schedule-item">
                                            <div class="sc-time">08:00 - 12:00 AM</div>
                                            <div class="sc-pic">
                                                <img src="images/team/1.jpg" class="img-circle" alt="">
                                            </div>
                                            <div class="sc-name">
                                                <h4>John Smith</h4>
                                                <span>Founder & CEO</span>
                                            </div>
                                            <div class="sc-info">
                                                <h3>How To Brand A Startup On A Small Budget</h3>
                                                <p>In this session we will discuss about digital topics in detail. You need laptops and other tech support equipment. This session will last for 2 hours. So prepare yourself.</p>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>

                                    <div class="schedule-listing">
                                        <div class="schedule-item">
                                            <div class="sc-time">08:00 - 12:00 AM</div>
                                            <div class="sc-pic">
                                                <img src="images/team/2.jpg" class="img-circle" alt="">
                                            </div>
                                            <div class="sc-name">
                                                <h4>John Smith</h4>
                                                <span>Founder & CEO</span>
                                            </div>
                                            <div class="sc-info">
                                                <h3>Establishing a Brand Identity</h3>
                                                <p>In this session we will discuss about digital topics in detail. You need laptops and other tech support equipment. This session will last for 2 hours. So prepare yourself.</p>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>

                                    <div class="schedule-listing">
                                        <div class="schedule-item">
                                            <div class="sc-time">08:00 - 12:00 AM</div>
                                            <div class="sc-pic">
                                                <img src="images/team/3.jpg" class="img-circle" alt="">
                                            </div>
                                            <div class="sc-name">
                                                <h4>Sarah Michelle</h4>
                                                <span>Founder & CEO</span>
                                            </div>
                                            <div class="sc-info">
                                                <h3>Interview With World Class Designer</h3>
                                                <p>In this session we will discuss about digital topics in detail. You need laptops and other tech support equipment. This session will last for 2 hours. So prepare yourself.</p>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>

                                    <div class="schedule-listing">
                                        <div class="schedule-item">
                                            <div class="sc-time">08:00 - 12:00 AM</div>
                                            <div class="sc-pic">
                                                <img src="images/team/4.jpg" class="img-circle" alt="">
                                            </div>
                                            <div class="sc-name">
                                                <h4>Katty Wilson</h4>
                                                <span>Founder & CEO</span>
                                            </div>
                                            <div class="sc-info">
                                                <h3>Close Event Ceremony &amp; Doorprize</h3>
                                                <p>In this session we will discuss about digital topics in detail. You need laptops and other tech support equipment. This session will last for 2 hours. So prepare yourself.</p>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>