<section
  id="section-schedule"
  class="no-top no-bottom"
  aria-label="section"
  style="background-size: cover;"
>

<style>

   
   .nav-tabs .nav-link.active {
       margin : 2;
       background-color: rgb(54, 144, 212);
       border: 3px solid rgb(54, 144, 212);
       color: #fff;
      
   }
   
   .nav-tabs .nav-link {
       background-color: #fff;
       color: rgb(54, 144, 212);
       border: 3px solid rgb(54, 144, 212);
       /* margin-right: 2rem;
       margin-left: 2rem; */
       padding-left: 3rem;
       padding-right: 3rem;
   }

   
   .nav-tabs .nav-link:hover {
       border: 3px solid rgb(54, 144, 212);
   }
   
   /* .nav-tabs {
       border: 1px solid rgb(54, 144, 212);
   } */
   
   .tab-content {
       
       padding: 20px;
   }
</style>



<div
class="wm wm-border light wow fadeInDown animated"
style="visibility: visible; animation-name: fadeInDown; background-size: cover; opacity: 0;"
>
Schedule
</div>

<div class="col-md-6 offset-md-3 text-center wow fadeInUp">
   <h1 class="text-5xl">Schedule</h1>
   <div class="separator"><span><i class="fa fa-square"></i></span></div>
   <div class="spacer-single"></div>
 </div>



 <!-- <div class="row nav nav-tabs"> 
   <div class="col-md-3  text-center p-4 nav-item m-0"><a class="nav-link active" data-bs-toggle="tab" href="#kea">KE AUTIDORIUM</a></div> 
   <div class="col-md-3  text-center p-4 nav-item m-0"><a class="nav-link " data-bs-toggle="tab" href="#pg">PG BLOCK</a></div> 
   <div class="col-md-3  text-center p-4 nav-item m-0"><a class="nav-link " data-bs-toggle="tab" href="#ke">KE BLOCK</a></div> 
   <div class="col-md-3  text-center p-4 nav-item m-0"><a class="nav-link " data-bs-toggle="tab" href="#mainb">MAIN BLOCK</a></div> 

</div > -->


<div class = "row nav nav-tabs m-5">
    <div class = "col-md-6 nav-item text-center mt-1 py-1"><a class="nav-link active py-2" data-bs-toggle="tab" href = "#kea">KE Auditorium</a></div>
    <div class = "col-md-6 nav-item text-center mt-1 py-1"><a class="nav-link  py-2" data-bs-toggle="tab" href = "#sem">KE Seminar</a></div>
    <!-- <div class = "col-md-3 nav-item text-center mt-1 py-1"><a class="nav-link " data-bs-toggle="tab" href = "#gal">Gallery Hall</a></div>
    <div class = "col-md-3 nav-item text-center mt-1 py-1"><a class="nav-link " data-bs-toggle="tab" href = "#mul">Multimedia Hall</a></div>

    <div class = "col-md-3 nav-item text-center mt-1 py-1"><a class="nav-link " data-bs-toggle="tab" href = "#lab">Labs</a></div>
    <div class = "col-md-3 nav-item text-center mt-1 py-1"><a class="nav-link " data-bs-toggle="tab" href = "#open">Open Venues</a></div>
    <div class = "col-md-3 nav-item text-center mt-1 py-1"><a class="nav-link " data-bs-toggle="tab" href = "#class">Classrooms</a></div>
    <div class = "col-md-3 nav-item text-center mt-1 py-1"><a class="nav-link " data-bs-toggle="tab" href = "#other">Others</a></div> -->
</div>

<div class="tab-content m-5">
    <div class="tab-pane active" id="kea">

        <div class="row border g-0 rounded shadow-sm p-0">



            <!-- Prayer -->
            <div  class="row m-0 p-0 ">
                <div style="background: #3690D4" class="d-flex align-items-center justify-content-center  col-md-3 p-2"><h3 class=" text-light text-center my-auto">9:30 AM</h3></div>
                <div class = "col-md-2  px-5 py-3"></div>
                <div class="col-md-7 m-0 p-2 px-3 py-3">
                    <h5>Prayer</h5>       
                    <p>College Choir</p>
                </div>
            </div>




            <!-- Welcome -->
            <div  class="row m-0 p-0 border-top">
                <div style="background: #7eb9e6" class="d-flex align-items-center justify-content-center  col-md-3 p-2"><h3 class=" text-light text-center my-auto">9:32 AM </h3></div>    
                    
                    <div class = "col-md-2  px-5 py-3">
                        <!-- <img class="rounded-circle" style="width: 80px; height:80px;"  src = "images/speakers/Desil.jpg">   -->
                    </div>
                    
                    <div class="col-md-7 m-0 p-2 px-3 py-3">
                    <h5 class="fw-semibold">Welcome</h5>
               
                    <h6>Dr P.S Sreejith </h6>
                    <p class="m-0 p-0">Principal, Rajagiri School of Engineering & Technology</p>
                </div>
            </div>
    
    
           
            <!-- Presidential Address -->
            <div  class="row m-0 p-0 border-top">
                <div style="background: #3690D4" class="d-flex align-items-center justify-content-center  col-md-3  p-2"><h3 class=" text-light text-center my-auto">9:37 AM </h3></div>    
                <div class = "col-md-2  px-5 py-3">
                    <img class="rounded-circle" style="width: 80px; height:80px;"  src = "images/speakers/Anoop.jpg">  
                </div>
                
                <div class="col-md-7 m-0 p-2 px-3 py-3">
                    <h5>Presidential Address</h5>
                    <h6>Sri Anoop Ambika </h6>
                    <p class="m-0 p-0">CEO, Kerala Startup Mission</p>
                </div>
            </div>
    
    
            <!-- Inaugural Address -->
            <div  class="row m-0 p-0 border-top">
                <div style="background: #7eb9e6" class="d-flex align-items-center justify-content-center  col-md-3 p-2"><h3 class=" text-light text-center my-auto">9:47 AM </h3></div>    
                <div class = "col-md-2  px-5 py-3">
                    <img class="rounded-circle" style="width: 80px; height:80px;"  src = "images/speakers/PRajeev.jpg">  
                </div>
                
                <div class="col-md-7 m-0 p-2 px-3 py-3">
                    <h5 class="fw-semibold">Inaugural Address</h5>
               
                    <h6>Sri. P. Rajeev</h6>
                    <p class="m-0 p-0">Minister for Industries, Law and Coir Government of Kerala</p>
                </div>
            </div>
    
    
           <!--  -->
            <!-- <div  class="row m-0 p-0 border-top">
                <div style="background: #3690D4" class="d-flex align-items-center justify-content-center  col-md-3  p-2"><h3 class=" text-light text-center my-auto">9:57 AM </h3></div>    
                <div  class="col-md-9 m-0 p-2 px-5">
                    <h5>Address by Guest of Honour</h5>
                    <h6>Sri. P. Rajeev </h6>
                    <p class="m-0 p-0">Minister for Industries, Law and Coir Government of Kerala</p>
                </div>
            </div> -->
    
    
    
        <!-- Key Note Address -->
            <div  class="row m-0 p-0 border-top">
                <div style="background: #3690D4 " class="d-flex align-items-center justify-content-center  col-md-3 p-2"><h3 class=" text-light text-center my-auto">10:07 AM </h3></div>    
                <div class = "col-md-2  px-5 py-3">
                    <img class="rounded-circle" style="width: 80px; height:80px;"  src = "images/speakers/kochouseph.png">  
                </div>
                
                <div class="col-md-7 m-0 p-2 px-3 py-3">
                    <h5 class="fw-semibold">Key Note Address</h5>
               
                    <h6>Sri. Kochouseph Chittilappily</h6>
                    <p class="m-0 p-0">Founder,Chairman, CEO of V-Guard industries</p>
                </div>
            </div>
    
    
    
           
            <!-- Speacial Address Shivang Jain -->
            <div  class="row m-0 p-0 border-top">
                <div style="background: #7eb9e6" class="d-flex align-items-center justify-content-center  col-md-3  p-2"><h3 class=" text-light text-center my-auto">10:22 AM </h3></div>    
                <div class = "col-md-2  px-5 py-3">
                    <img class="rounded-circle" style="width: 80px; height:80px;"  src = "images/speakers/Shivangi.jpg">  
                </div>
                
                <div class="col-md-7 m-0 p-2 px-3 py-3">
                    <h5>Special Address</h5>
                    <h6>Sri. Shivangi Jain</h6>
                    <p class="m-0 p-0">Assistant Vice President Invest India</p>
                </div>
            </div>    
    


            <!-- Special Address Dr. Jose -->
            <div  class="row m-0 p-0 border-top">
                <div style="background: #3690D4 " class="d-flex align-items-center justify-content-center  col-md-3 p-2"><h3 class=" text-light text-center my-auto">10:32 AM </h3></div>    
                <div class = "col-md-2  px-5 py-3">
                    <!-- <img class="rounded-circle" style="width: 80px; height:80px;"  src = "images/speakers/Shivangi.jpg">   -->
                </div> 
                <div class="col-md-7 m-0 p-2 px-3 py-3">
                    <h5 class="fw-semibold">Special Address</h5>
               
                    <h6>Rev. Dr. Jose Kuriedath CMI </h6>
                    <p class="m-0 p-0">Director Rajagiri School of Engineering & Technology</p>
                </div>
            </div>
    


            <!-- Prize Distribution -->
            <div  class="row m-0 p-0 border-top">
                <div style="background: #7eb9e6 " class="d-flex align-items-center justify-content-center  col-md-3 p-2"><h3 class=" text-light text-center my-auto">10:37 AM </h3></div>    
                <div class = "col-md-2  px-5 py-3">
                    <!-- <img class="rounded-circle" style="width: 80px; height:80px;"  src = "images/speakers/Shivangi.jpg">   -->
                </div>
                <div class="col-md-7 m-0 p-2 px-3 py-3">
                    <h5 class="fw-semibold">Prize Distribution</h5>
               
                    <!-- <h6>Rev. Dr. Jose Kuriedath CMI </h6> -->
                    <p class="m-0 p-0">IPL 2.0 Prize Winners</p>
                </div>
            </div>
           

            <!-- Vote of Thanks -->
            <div  class="row m-0 p-0 border-top">
                <div style="background: #3690D4" class="d-flex align-items-center justify-content-center  col-md-3  p-2"><h3 class=" text-light text-center my-auto">10:42 AM </h3></div>    
                <div class = "col-md-2  px-5 py-3">
                    <!-- <img class="rounded-circle" style="width: 80px; height:80px;"  src = "images/speakers/Shivangi.jpg">   -->
                </div>
                
                <div class="col-md-7 m-0 p-2 px-3 py-3">
                    <h5>Vote of Thanks</h5>
                    <h6>Nodal Officer</h6>
                </div>
            </div>


        
            <div  class="row m-0 p-0 border-top">
                <div style="background: #7eb9e6  " class="d-flex align-items-center justify-content-center  col-md-3 p-2"><h3 class=" text-light text-center my-auto">10:45 AM </h3></div>    
                <div class = "col-md-2  px-5 py-3">
                    <img class="rounded-circle" style="width: 80px; height:80px;"  src = "images/speakers/Poornima.jpg">  
                </div>
                
                <div class="col-md-7 m-0 p-2 px-3 py-3">
                    <h5 class="fw-semibold">Fire Side Chat</h5>
               
                    <div class="d-flex align-items-start justify-content-start">
    
                        <div>
                        <h6 class="m-0">Poornima Indrajith </h6>
                        <p class="m-0 p-0">Actor, Founder of Pranaah</p>
                        </div>
                    
                    
                    </div>
                </div>
            </div>




    
            <div class="row m-0 p-0 border-top">
                <div
                  style="background: #3690D4"
                  class="d-flex align-items-center justify-content-center col-md-3 p-2"
                >
                  <h3 class="text-light text-center my-auto">11:20 AM</h3>
                </div>
                <div class = "col-md-2  px-5 py-3"></div>
                <div class="col-md-7 m-0 p-2 px-3 pt-3">
                  <h5 class="fw-semibold">Panel discussion</h5>
                </div>
              </div>



              <div class="row m-0 p-0 ">
              <div
                  style="background:  #3690D4"
                  class="d-flex align-items-center justify-content-center col-md-3 p-2"
                ></div>
                <div class = "col-md-2  px-5 "><img class="rounded-circle" style="width: 80px; height:80px;"  src = "images/speakers/Deepu.jpg"></div>
                <div class="col-md-7 m-0 p-2 px-3 pt-3">

                    <div class = "p-1">
                      <h6 class="m-1  inline"><span>Dr. Deepu Krishnan P R</span> </h6>
                      <p class="inline"><span>(Moderator)</span></p>
                      <p class="m-0 p-0">Asistant Manager, RINK</p>
                    </div>
                 
                </div>
               </div>

                <div class="row m-0 p-0 ">
                <div
                    style="background: #3690D4"
                    class="d-flex align-items-center justify-content-center col-md-3 p-2"
                ></div>
                <div class = "col-md-2  px-5 pt-2"><img class="rounded-circle" style="width: 80px; height:80px;"  src = "images/speakers/Rahul.jpeg"></div>
                <div class="col-md-7 m-0 p-2 px-3 pt-3">

                    <div class = "p-1">
                        <h6 class="m-1  inline">Sri. Rahul Ramesh</h6>
                        <p class="m-0 p-0">Co - Founder & CTO, Entri App</p>
                    </div>
                </div>
                </div>



                <div class="row m-0 p-0 ">
                <div
                    style="background: #3690D4"
                    class="d-flex align-items-center justify-content-center col-md-3 p-2"
                ></div>
                <div class = "col-md-2  px-5 pt-2"><img class="rounded-circle" style="width: 80px; height:80px;"  src = "images/speakers/Hinshara.jpg"></div>
                <div class="col-md-7 m-0 p-2 px-3 pt-3">

                    <div class = "p-1">
                        <h6 class="m-1  inline">Ms. Hinshara Habeeb</h6>
                        <p class="m-0 p-0">Co-Founder Manetain Store</p>
                    </div>
                </div>
                </div>




                <div class="row m-0 p-0 ">
                <div
                    style="background: #3690D4"
                    class="d-flex align-items-center justify-content-center col-md-3 p-2"
                ></div>
                <div class = "col-md-2  px-5 pt-2"><img class="rounded-circle" style="width: 80px; height:80px;"  src = "images/speakers/Lini.jpeg"></div>
                <div class="col-md-7 m-0 p-2 px-3 pt-3">

                    <div class = "p-1">
                        <h6 class="m-1  inline">Dr. Lini Basil</h6>
                        <p class="m-0 p-0">Founder Bylin Medtech Pvt. Ltd.</p>
                    </div>
                    
                </div>
                </div>


                      <div class="row m-0 p-0 ">
                      <div
                          style="background: #3690D4"
                          class="d-flex align-items-center justify-content-center col-md-3 p-2"
                        ></div>
                        <div class = "col-md-2  px-5 pt-2 pb-2"><img class="rounded-circle" style="width: 80px; height:80px;"  src = "images/speakers/vishnu.png"></div>
                        <div class="col-md-7 m-0 p-2 px-3 pt-3">

                            <div class = "p-1">
                              <h6 class="m-1  inline">Vishnu Ramakrishnan</h6>
                              <p class="m-0 p-0">Founders office, The ePlane company</p>
                            </div>
                         
                        </div>
                       </div>





            <div class="row m-0 p-0 border-top">
                <div
                  style="background: #7eb9e6 "
                  class="d-flex align-items-center justify-content-center col-md-3 p-2"
                >
                  <h3 class="text-light text-center my-auto">11:50 AM</h3>
                </div>
                <div class = "col-md-2  px-5 py-3"></div>
                <div class="col-md-7 m-0 p-2 px-3 pt-3">
                  <h5 class="fw-semibold">Evangelist & Content creators Panel Discussion</h5>
                </div>
            </div>



            <div class="row m-0 p-0 ">
              <div
                  style="background: #7eb9e6"
                  class="d-flex align-items-center justify-content-center col-md-3 p-2"
                ></div>
                <div class = "col-md-2  px-5 "><img class="rounded-circle" style="width: 80px; height:80px;"  src = "images/speakers/Dhanya.jpg"></div>
                <div class="col-md-7 m-0 p-2 px-3 pt-3">

                    <div class = "p-1">
                      <h6 class="m-1  inline">Dhanya Ravi</h6>
                      <p class="m-0 p-0">Glass Woman of India</p>
                    </div>
                 
                </div>
            </div>
                       

            <!-- <div class="row m-0 p-0 ">
            <div
                style="background: #3690D4"
                class="d-flex align-items-center justify-content-center col-md-3 p-2"
            ></div>
            <div class = "col-md-2  px-5 pt-2"><img class="rounded-circle" style="width: 80px; height:80px;"  src = "images/speakers/Dhanya.jpeg"></div>
            <div class="col-md-7 m-0 p-2 px-3 pt-3">

                <div class = "p-1">
                    <h6 class="m-1  inline">Dhanya Ravi</h6>
                    <p class="m-0 p-0">Glass Woman of India</p>
                </div>
            </div>
            </div> -->

            <!-- <div class="row m-0 p-0 ">
            <div
                style="background: #3690D4"
                class="d-flex align-items-center justify-content-center col-md-3 p-2"
            ></div>
            <div class = "col-md-2  px-5 pt-2"><img class="rounded-circle" style="width: 80px; height:80px;"  src = "images/speakers/Hinshara.jpg"></div>
            <div class="col-md-7 m-0 p-2 px-3 pt-3">

                <div class = "p-1">
                    <h6 class="m-1  inline">Sri. Hinshara Habeeb</h6>
                    <p class="m-0 p-0">Co-Founder Manetain Store</p>
                </div>
            </div>
            </div> -->




            <!-- <div class="row m-0 p-0 ">
            <div
                style="background: #3690D4"
                class="d-flex align-items-center justify-content-center col-md-3 p-2"
            ></div>
            <div class = "col-md-2  px-5 pt-2"><img class="rounded-circle" style="width: 80px; height:80px;"  src = "images/speakers/Lini.jpeg"></div>
            <div class="col-md-7 m-0 p-2 px-3 pt-3">

                <div class = "p-1">
                    <h6 class="m-1  inline">Dr. Lini Basil</h6>
                    <p class="m-0 p-0">Founder Bylin Medtech Pvt. Ltd.</p>
                </div>
                
            </div>
            </div> -->






            

           





            <!-- <div  class="row m-0 p-0 border-top">
            <div style="background: #3690D4   " class="d-flex align-items-center justify-content-center  col-md-3  p-2"><h3 class=" text-light text-center my-auto">11:50 AM</h3></div>    
            <div  class="col-md-9 m-0 p-2 px-5">
                <h5>Evangelist & Content creators Panel Discussion</h5>

                <div class="pt-3 d-flex align-items-start justify-content-start">
                    <h6 class="mr-1">Panelists: </h6>
                    <div>
                    <h6 class="m-0"><span>Dhanya Ravi </span></h6><p class="m-0 p-0"><span>Glass Woman of India</span></p>
                    <div>
                    <h6 class="m-0">Ajay Balachandran </h6>
                    <p class="m-0 p-0">Co-Founder Manetain Store</p>
                    </div>
                    <div>
                    <h6 class="m-0">Gokul Retnakar </h6>
                    <p class="m-0 p-0"> Founder Bylin Medtech Pvt. Ltd.</p>
                    </div>
                 
                    </div>
                </div>

            </div>
            </div> -->



       
        <div  class="row m-0 p-0 border-top">
            <div style="background: #3690D4  " class="d-flex align-items-center justify-content-center  col-md-3 p-2"><h3 class=" text-light text-center my-auto">12:20 PM </h3></div>    
            <div class = "col-md-2  px-5 py-3">
                <img class="rounded-circle" style="width: 80px; height:80px;"  src = "images/speakers/Robin.jpg">  
            </div>
            
            <div class="col-md-7 m-0 p-2 px-3 py-3">
                <h5 class="fw-semibold"> Social Innovation Talk - Launch of Ideathon</h5>
           
                <h6 class="mb-0 p-0"> Robin Tommy </h6>
                <p class="m-0 p-0">Social Innovation & Startup Mentor, TCS</p>
            </div>
        </div>

       
        <div  class="row m-0 p-0 border-top">
            <div style="background: #7eb9e6  " class="d-flex align-items-center justify-content-center  col-md-3  p-4"><h3 class=" text-light text-center my-auto">1:00 PM - 1:30 PM</h3></div>    
            <div class = "col-md-2  px-5 py-3">
                <!-- <img class="rounded-circle" style="width: 80px; height:80px;"  src = "images/speakers/Shivangi.jpg">   -->
            </div>
            
            <div class="col-md-7 m-0 p-2 px-3 py-3">
                <h5 class="pt-4 pb-4">Lunch Break</h5>
                
            </div>
        </div>

        <div  class="row m-0 p-0 border-top">
            <div style="background: #3690D4 " class="d-flex align-items-center justify-content-center  col-md-3 p-2"><h3 class=" text-light text-center my-auto">1:30 PM - 1:50 PM </h3></div>    
            <div class = "col-md-2  px-5 py-3">
                <!-- <img class="rounded-circle" style="width: 80px; height:80px;"  src = "images/speakers/Shivangi.jpg">   -->
            </div>
            
            <div class="col-md-7 m-0 p-2 px-3 py-3">
                <h5 class="fw-semibold"> Band Performance </h5>
                <h6 class="mb-0 p-0"> College Band</h6>
                <p class="m-0 p-0">LIME TEA</p>
            </div>
        </div>

        <div  class="row m-0 p-0 border-top">
            <div style="background: #7eb9e6   " class="d-flex align-items-center justify-content-center  col-md-3  p-4"><h3 class=" text-light text-center my-auto">1:50 PM - 2:00 PM</h3></div>    
            <div class = "col-md-2  px-5 py-3">
                <img class="rounded-circle" style="width: 80px; height:80px;"  src = "images/speakers/Vinay.jpg">  
            </div>
            
            <div class="col-md-7 m-0 p-2 px-3 py-3">
                <h5>Standup Comedy</h5>
                <p> Vinay Menon</p>
            </div>
        </div>

        <div  class="row m-0 p-0 border-top">
            <div style="background: #3690D4" class="d-flex align-items-center justify-content-center  col-md-3 p-2"><h3 class=" text-light text-center my-auto">2:00 PM </h3></div>    
            <div class = "col-md-2  px-5 py-3">
                <!-- <img class="rounded-circle" style="width: 80px; height:80px;"  src = "images/speakers/Shivangi.jpg">   -->
            </div>
            
            <div class="col-md-7 m-0 p-2 px-3 py-3">
                <h5 class="fw-semibold">  Corporate Talk </h5>
                <h6 class="mb-0 p-0"> Mr Krushnakant Sinojia </h6>
                <p class="m-0 p-0">Head Of Innovation | Startup | Incubationl Crompton Greaves</p>
            </div>
        </div>

        

        <div class="row m-0 p-0 border-top">
            <div
              style="background: #7eb9e6"
              class="d-flex align-items-center justify-content-center col-md-3 p-2"
            >
              <h3 class="text-light text-center my-auto">2:20 PM</h3>
            </div>
            <div class = "col-md-2  px-5 py-3"></div>
            <div class="col-md-7 m-0 p-2 px-3 pt-3">
              <h5 class="fw-semibold"> Influencer Panel</h5>
            </div>
        </div>



        <div class="row m-0 p-0 ">
          <div
              style="background: #7eb9e6"
              class="d-flex align-items-center justify-content-center col-md-3 p-2"
            ></div>
            <div class = "col-md-2  px-5 "><img class="rounded-circle" style="width: 80px; height:80px;"  src = "images/speakers/Joel.jpg"></div>
            <div class="col-md-7 m-0 p-2 px-3 pt-3">

                <div class = "p-1">
                  <h6 class="m-1  inline">Joel Joseph</h6>
                  <p class="m-0 p-0">Instagram content creator</p>
                </div>
             
            </div>
        </div>


        <div class="row m-0 p-0 ">
          <div
              style="background: #7eb9e6"
              class="d-flex align-items-center justify-content-center col-md-3 p-2"
            ></div>
            <div class = "col-md-2  px-5 "><img class="rounded-circle" style="width: 80px; height:80px;"  src = "images/speakers/Gokul.jpg"></div>
            <div class="col-md-7 m-0 p-2 px-3 pt-3">

                <div class = "p-1">
                  <h6 class="m-1  inline">Gokul Raj</h6>
                  <p class="m-0 p-0">Instagram content creator</p>
                </div>
             
            </div>
        </div>


  


        <div  class="row m-0 p-0 border-top">
            <div style="background:  #3690D4" class="d-flex align-items-center justify-content-center  col-md-3 p-2"><h3 class=" text-light text-center my-auto">2:50 PM </h3></div>    
            <div class = "col-md-2  px-5 py-3">
                <img class="rounded-circle" style="width: 80px; height:80px;"  src = "images/speakers/Arvind.jpg">  
            </div>
            
            <div class="col-md-7 m-0 p-2 px-3 py-3">
                <h5 class="fw-semibold">  Founder Talk - Co creating with the machine - Ghostwriter </h5>
                <h6 class="mb-0 p-0"> Arvind Sanjeev </h6>
                <p class="m-0 p-0">Interative Designer Co-founder, Lumen.world</p>
            </div>
        </div>






        <div class="row m-0 p-0 border-top">
            <div
              style="background: #7eb9e6"
              class="d-flex align-items-center justify-content-center col-md-3 p-2"
            >
              <h3 class="text-light text-center my-auto">3:30 PM</h3>
            </div>
            <div class = "col-md-2  px-5 py-3"></div>
            <div class="col-md-7 m-0 p-2 px-3 pt-3">
              <h5 class="fw-semibold">  Fireside Chat</h5>
            </div>
        </div>



        <div class="row m-0 p-0 ">
          <div
              style="background: #7eb9e6"
              class="d-flex align-items-center justify-content-center col-md-3 p-2"
            ></div>
            <div class = "col-md-2  px-5 "><img class="rounded-circle" style="width: 80px; height:80px;"  src = "images/speakers/Balagopal.jpg"></div>
            <div class="col-md-7 m-0 p-2 px-3 pt-3">

                <div class = "p-1">
                  <h6 class="m-1  inline">Balagopal Chandrashekar</h6>
                  <p class="m-0 p-0">Chairman- Federal Bank</p>
                </div>
             
            </div>
        </div>


        <div class="row m-0 p-0 ">
          <div
              style="background: #7eb9e6"
              class="d-flex align-items-center justify-content-center col-md-3 p-2"
            ></div>
            <div class = "col-md-2  px-5 "><img class="rounded-circle" style="width: 80px; height:80px;"  src = "images/speakers/Souvik.jpg"></div>
            <div class="col-md-7 m-0 p-2 px-3 pt-3">

                <div class = "p-1">
                  <h6 class="m-1  inline">Souvik Roy</h6>
                  <p class="m-0 p-0">Head of Investor Relations - Federal bank</p>
                </div>
             
            </div>
        </div>




 

        <div  class="row m-0 p-0 border-top">
            <div style="background:  #3690D4" class="d-flex align-items-center justify-content-center  col-md-3 p-2"><h3 class=" text-light text-center my-auto">4:30 PM</h3></div>
            <div class = "col-md-2  px-5 py-3">
                <!-- <img class="rounded-circle" style="width: 80px; height:80px;"  src = "images/speakers/Shivangi.jpg">   -->
            </div>
            
            <div class="col-md-7 m-0 p-2 px-3 py-3">
                <h5>Prayer</h5>       
                <p>College Choir</p>
            </div>
        </div>
        
        <div  class="row m-0 p-0 border-top">
            <div style="background: #7eb9e6  " class="d-flex align-items-center justify-content-center  col-md-3 p-2"><h3 class=" text-light text-center my-auto">4:32 PM </h3></div>    
            <div class = "col-md-2  px-5 py-3">
                <!-- <img class="rounded-circle" style="width: 80px; height:80px;"  src = "images/speakers/Shivangi.jpg">   -->
            </div>
            
            <div class="col-md-7 m-0 p-2 px-3 py-3">
                <h5 class="fw-semibold">Welcome</h5>
                <p>RSET </p>
            </div>
        </div>

        <div  class="row m-0 p-0 border-top">
            <div style="background: #3690D4 " class="d-flex align-items-center justify-content-center  col-md-3 p-2"><h3 class=" text-light text-center my-auto">4:37 PM</h3></div>
            <div class = "col-md-2  px-5 py-3">
                <!-- <img class="rounded-circle" style="width: 80px; height:80px;"  src = "images/speakers/Shivangi.jpg">   -->
            </div>
            
            <div class="col-md-7 m-0 p-2 px-3 py-3">
                <h5 class="m-0">Presidential Address</h5>       
                <p>KSUM</p>
            </div>
        </div>
    

        <div  class="row m-0 p-0 border-top">
            <div style="background: #7eb9e6  " class="d-flex align-items-center justify-content-center  col-md-3 p-2"><h3 class=" text-light text-center my-auto">4:47 PM</h3></div>    
            <div class = "col-md-2  px-5 py-3">
                <img class="rounded-circle" style="width: 80px; height:80px;"  src = "images/speakers/Renu.jpeg">  
            </div>
            
            <div class="col-md-7 m-0 p-2 px-3 py-3">
                <h5 class="fw-semibold">Key Note Address</h5>
                <h6>Renu Raj IAS</h6>
                <p>District Collector, Ernakulam</p>
            </div>
        </div>
            
        <div  class="row m-0 p-0 border-top">
            <div style="background: #3690D4" class="d-flex align-items-center justify-content-center  col-md-3 p-2"><h3 class=" text-light text-center my-auto">4:57 PM</h3></div>
            <div class = "col-md-2  px-5 py-3">
                <img class="rounded-circle" style="width: 80px; height:80px;"  src = "images/speakers/Loknath.jpeg">  
            </div>
            
            <div class="col-md-7 m-0 p-2 px-3 py-3">
                <h5 class="fw-semibold">Key Note Address</h5>
                <h6 class="m-0">Shri Loknath Behra IPS</h6>       
                <p>MD, KMRL</p>
            </div>
        </div>
       
        <div  class="row m-0 p-0 border-top">
            <div style="background: #7eb9e6  " class="d-flex align-items-center justify-content-center  col-md-3 p-2"><h3 class=" text-light text-center my-auto">5:07 PM</h3></div>    
            <div class = "col-md-2  px-5 py-3">
                <!-- <img class="rounded-circle" style="width: 80px; height:80px;"  src = "images/speakers/Renu.jpeg">   -->
            </div>
            
            <div class="col-md-7 m-0 p-2 px-3 py-3">
                <h5 class="fw-semibold">Special Address</h5>
                <!-- <h6>Renu Raj IAS</h6> -->
                <p> KIED</p>
            </div>
        </div>
        
        
        <div  class="row m-0 p-0 border-top">
            <div style="background: #3690D4" class="d-flex align-items-center justify-content-center  col-md-3 p-2"><h3 class=" text-light text-center my-auto">5:27 PM</h3></div>
            <div class = "col-md-2  px-5 py-3">
                <!-- <img class="rounded-circle" style="width: 80px; height:80px;"  src = "images/speakers/Shivangi.jpg">   -->
            </div>
            
            <div class="col-md-7 m-0 p-2 px-3 py-3">
                <h5 class="m-0">Honoring the Innovators</h5>       
                <p> Idea fest 2022</p>
            </div>
        </div>
           
        <div  class="row m-0 p-0 border-top">
            <div style="background: #7eb9e6  " class="d-flex align-items-center justify-content-center  col-md-3 p-2"><h3 class=" text-light text-center my-auto">5:32 PM</h3></div>    
            <div class = "col-md-2  px-5 py-3">
                <!-- <img class="rounded-circle" style="width: 80px; height:80px;"  src = "images/speakers/Shivangi.jpg">   -->
            </div>
            
            <div class="col-md-7 m-0 p-2 px-3 py-3">
                <h5 class="fw-semibold"> Felicitation Address</h5>
                <!-- <h6>Renu Raj IAS</h6> -->
                <p> NEST LEAD</p>
            </div>
        </div>
        
        <div  class="row m-0 p-0 border-top">
            <div style="background: #3690D4" class="d-flex align-items-center justify-content-center  col-md-3 p-2"><h3 class=" text-light text-center my-auto">5:37 PM</h3></div>
            <div class = "col-md-2  px-5 py-3">
                <!-- <img class="rounded-circle" style="width: 80px; height:80px;"  src = "images/speakers/Shivangi.jpg">   -->
            </div>
            
            <div class="col-md-7 m-0 p-2 px-3 py-3">
                <h5 class="m-0">Vote of Thanks</h5>       
                <p> RSET</p>
            </div>
        </div>


        </div>
    </div>

    <div class="tab-pane" id="sem">
            <div class="row border g-0 rounded shadow-sm">

                <div class="row m-0 p-0 border-top">
                    <div
                      style="background: #3690D4"
                      class="d-flex align-items-center justify-content-center col-md-3 p-2"
                    >
                      <h3 class="text-light text-center my-auto">11:00 AM</h3>
                    </div>

                    
                    <div class = "col-md-2  px-5 py-3">
                        <img class="rounded-circle" style="width: 80px; height:80px;"  src = "images/speakers/Desil.jpg">
                        
                    </div>
                    
                    <div class="col-md-7 m-0 p-2 px-3 py-3">
                      <h5>A Future that is Shaped by Metaverse - Masterclass</h5>
                      <h6>Densil Antony</h6>
                      <p class="m-0 p-0">CEO, XR Horizon</p>
                    </div>




                    <div class="row m-0 p-0 border-top">
                        <div
                          style="background: #7eb9e6"
                          class="d-flex align-items-center justify-content-center col-md-3 p-2"
                        >
                          <h3 class="text-light text-center my-auto">1:00 PM - 1:30 PM</h3>
                        </div>

                        <div class = "col-md-2  px-5 py-3"></div>
                        <div class="col-md-7 m-0 p-2 px-3 py-3">
                          <h5 class="fw-semibold py-4">Lunch Break</h5>
                
                          <h6></h6>
                          <p class="m-0 p-0"></p>
                        </div>
                    </div>





                      <div class="row m-0 p-0 border-top">
                        <div
                          style="background: #3690D4"
                          class="d-flex align-items-center justify-content-center col-md-3 p-2"
                        >
                          <h3 class="text-light text-center my-auto">1:30 PM</h3>
                        </div>

                        <div class = "col-md-2  px-5 py-3"><img class="rounded-circle" style="width: 80px; height:80px;"  src = "images/speakers/Najeeb.jpg"></div>
                        <div class="col-md-7 m-0 p-2 px-3 py-3">
                          <h5>Master Class (Student Lead/Co-Lead)</h5>
                          <h6>Najeeb Bin Haneef</h6>
                          <p class="m-0 p-0">CEO, Zaarabiotech</p>
                        </div>
                      </div>





                
                      <div class="row m-0 p-0 border-top">
                        <div
                          style="background: #7eb9e6"
                          class="d-flex align-items-center justify-content-center col-md-3 p-2"
                        >
                          <h3 class="text-light text-center my-auto">2:30 PM</h3>
                        </div>


                        <div class = "col-md-2  px-5 py-3"><img class="rounded-circle" style="width: 80px; height:80px;"  src = "images/speakers/Charles.jpg"></div>
                        <div class="col-md-7 m-0 p-2 px-3 py-3">
                          <h5 class="fw-semibold">Master Class (Finance Lead/Co-Lead)</h5>
                
                          <h6>Charles Thayyil</h6>
                          <p class="m-0 p-0">Managing Director - Tech7, Director - UNIVEND</p>
                        </div>
                      </div>



          


                      <!-- Panel  -->
                      <div class="row m-0 p-0 border-top">
                        <div
                          style="background: #3690D4"
                          class="d-flex align-items-center justify-content-center col-md-3 p-2"
                        >
                          <h3 class="text-light text-center my-auto">3:30 PM</h3>
                        </div>
                        <div class = "col-md-2  px-5 py-3"></div>
                        <div class="col-md-7 m-0 p-2 px-3 pt-3">
                          <h5 class="fw-semibold">Panel discussion: Chat GPT and AI Automation</h5>
                        </div>
                      </div>



                      <div class="row m-0 p-0 ">
                      <div
                          style="background: #3690D4"
                          class="d-flex align-items-center justify-content-center col-md-3 p-2"
                        ></div>
                        <div class = "col-md-2  px-5 "><img class="rounded-circle" style="width: 80px; height:80px;"  src = "images/speakers/Sreeja.jpg"></div>
                        <div class="col-md-7 m-0 p-2 px-3 pt-3">

                            <div class = "p-1">
                              <h6 class="m-1  inline"><span>Sreeja M</span> </h6>
                              <p class="inline"><span>(Moderator)</span></p>
                              <p class="m-0 p-0">Research Engineer-AI, Zappyhire</p>
                            </div>
                         
                        </div>
                       </div>






                       

                      <div class="row m-0 p-0 ">
                      <div
                          style="background: #3690D4"
                          class="d-flex align-items-center justify-content-center col-md-3 p-2"
                        ></div>
                        <div class = "col-md-2  px-5 pt-2"><img class="rounded-circle" style="width: 80px; height:80px;"  src = "images/speakers/Joy.jpg"></div>
                        <div class="col-md-7 m-0 p-2 px-3 pt-3">

                            <div class = "p-1">
                              <h6 class="m-1  inline">Joy Sebastian</h6>
                              <p class="m-0 p-0">CEO Techgentsia</p>
                            </div>
                        </div>
                       </div>




                      <div class="row m-0 p-0 ">
                      <div
                          style="background: #3690D4"
                          class="d-flex align-items-center justify-content-center col-md-3 p-2"
                        ></div>
                        <div class = "col-md-2  px-5 pt-2"><img class="rounded-circle" style="width: 80px; height:80px;"  src = "images/speakers/Girish.jpg"></div>
                        <div class="col-md-7 m-0 p-2 px-3 pt-3">

                            <div class = "p-1">
                              <h6 class="m-1  inline">Girish Rengaswamy</h6>
                              <p class="m-0 p-0">Senior Engineering Manager, Mobile R&D</p>
                            </div>
                         
                        </div>
                       </div>


                      <div class="row m-0 p-0 ">
                      <div
                          style="background: #3690D4"
                          class="d-flex align-items-center justify-content-center col-md-3 p-2"
                        ></div>
                        <div class = "col-md-2  px-5 pt-2 pb-2"><img class="rounded-circle" style="width: 80px; height:80px;"  src = "images/speakers/Gopikrishnan.jpeg"></div>
                        <div class="col-md-7 m-0 p-2 px-3 pt-3">

                            <div class = "p-1">
                              <h6 class="m-1  inline">Gopikrishnan Sasikumar</h6>
                              <p class="m-0 p-0">Senior product Engineer, Entri</p>
                            </div>
                         
                        </div>
                       </div>
                       

                      <!-- <div class="row m-0 p-0 ">
                      <div
                          style="background: #3690D4"
                          class="d-flex align-items-center justify-content-center col-md-3 p-2"
                        ></div>
                        <div class = "col-md-2  px-5 pt-2"><img class="rounded-circle" style="width: 80px; height:80px;"  src = "images/speakers/Rahul.jpeg"></div>
                        <div class="col-md-7 m-0 p-2 px-3 pt-3">

                            <div class = "p-1">
                              <h6 class="m-1  inline">Sri. Rahul Ramesh</h6>
                              <p class="m-0 p-0">Co - Founder & CTO, Entri App</p>
                            </div>
                        </div>
                       </div> -->




                      <!-- <div class="row m-0 p-0 ">
                      <div
                          style="background: #3690D4"
                          class="d-flex align-items-center justify-content-center col-md-3 p-2"
                        ></div>
                        <div class = "col-md-2  px-5 pt-2"><img class="rounded-circle" style="width: 80px; height:80px;"  src = "images/speakers/Lini.jpeg"></div>
                        <div class="col-md-7 m-0 p-2 px-3 pt-3">

                            <div class = "p-1">
                              <h6 class="m-1  inline">Dr. Lini Basil</h6>
                              <p class="m-0 p-0">Founder Bylin Medtech Pvt. Ltd.</p>
                            </div>
                         
                        </div>
                       </div>


                      <div class="row m-0 p-0 ">
                      <div
                          style="background: #3690D4"
                          class="d-flex align-items-center justify-content-center col-md-3 p-2"
                        ></div>
                        <div class = "col-md-2  px-5 pt-2 pb-2"><img class="rounded-circle" style="width: 80px; height:80px;"  src = "images/speakers/vishnu.png"></div>
                        <div class="col-md-7 m-0 p-2 px-3 pt-3">

                            <div class = "p-1">
                              <h6 class="m-1  inline">Vishnu Ramakrishnan</h6>
                              <p class="m-0 p-0">Founders office, The ePlane company</p>
                            </div>
                         
                        </div>
                       </div> -->




  
                       
                        

                        




                   



                </div>
            </div>

    </div>



        



    </div>






</section>