<section
  id="section-schedule"
  class="no-top no-bottom"
  aria-label="section"
  style="background-size: cover;"
>

<style>

   
   .nav-tabs .nav-link.active {
       margin : 2;
       background-color: rgb(54, 144, 212);
       border: 3px solid rgb(54, 144, 212);
       color: #fff;
      
   }
   
   .nav-tabs .nav-link {
       background-color: #fff;
       color: rgb(54, 144, 212);
       border: 3px solid rgb(54, 144, 212);
       /* margin-right: 2rem;
       margin-left: 2rem; */
       padding-left: 3rem;
       padding-right: 3rem;
   }

   
   .nav-tabs .nav-link:hover {
       border: 3px solid rgb(54, 144, 212);
   }
   
   /* .nav-tabs {
       border: 1px solid rgb(54, 144, 212);
   } */
   
   .tab-content {
       
       padding: 20px;
   }
</style>



<div
class="wm wm-border light wow fadeInDown animated"
style="visibility: visible; animation-name: fadeInDown; background-size: cover; opacity: 0;"
>
Schedule
</div>

<div class="col-md-6 offset-md-3 text-center wow fadeInUp">
   <h1 class="text-5xl">Schedule</h1>
   <div class="separator"><span><i class="fa fa-square"></i></span></div>
   <div class="spacer-single"></div>
 </div>



 <!-- <div class="row nav nav-tabs"> 
   <div class="col-md-3  text-center p-4 nav-item m-0"><a class="nav-link active" data-bs-toggle="tab" href="#kea">KE AUTIDORIUM</a></div> 
   <div class="col-md-3  text-center p-4 nav-item m-0"><a class="nav-link " data-bs-toggle="tab" href="#pg">PG BLOCK</a></div> 
   <div class="col-md-3  text-center p-4 nav-item m-0"><a class="nav-link " data-bs-toggle="tab" href="#ke">KE BLOCK</a></div> 
   <div class="col-md-3  text-center p-4 nav-item m-0"><a class="nav-link " data-bs-toggle="tab" href="#mainb">MAIN BLOCK</a></div> 

</div > -->


<div class = "row nav nav-tabs m-5">
    <div class = "col-md-3 nav-item text-center mt-1 py-3"><a class="nav-link active" data-bs-toggle="tab" href = "#kea">KE Auditorium</a></div>
    <div class = "col-md-3 nav-item text-center mt-1 py-3"><a class="nav-link " data-bs-toggle="tab" href = "#sem">KE Seminar</a></div>
    <div class = "col-md-3 nav-item text-center mt-1 py-3"><a class="nav-link " data-bs-toggle="tab" href = "#gal">Gallery Hall</a></div>
    <div class = "col-md-3 nav-item text-center mt-1 py-3"><a class="nav-link " data-bs-toggle="tab" href = "#mul">Multimedia Hall</a></div>

    <div class = "col-md-3 nav-item text-center mt-1 py-3"><a class="nav-link " data-bs-toggle="tab" href = "#lab">Labs</a></div>
    <div class = "col-md-3 nav-item text-center mt-1 py-3"><a class="nav-link " data-bs-toggle="tab" href = "#open">Open Venues</a></div>
    <div class = "col-md-3 nav-item text-center mt-1 py-3"><a class="nav-link " data-bs-toggle="tab" href = "#class">Classrooms</a></div>
    <div class = "col-md-3 nav-item text-center mt-1 py-3"><a class="nav-link " data-bs-toggle="tab" href = "#other">Others</a></div>
</div>




<div class="tab-content m-5">
   <div class="tab-pane active" id="kea">
       <div class="row border g-0 rounded shadow-sm p-0">
    
        <div  class="row m-0 p-0 ">
        <div style="background: #3690D4" class="d-flex align-items-center justify-content-center  col-md-3 p-2"><h3 class=" text-light text-center my-auto">9:30 AM</h3></div>
        <div  class="col-md-9 m-0 p-2 px-5">
            <h5>Prayer</h5>       
            <p>College Choir</p>
        </div>
        </div>



       
        <div  class="row m-0 p-0 border-top">
            <div style="background: #7eb9e6" class="d-flex align-items-center justify-content-center  col-md-3 p-2"><h3 class=" text-light text-center my-auto">9:32 AM </h3></div>    
            <div  class="col-md-9 m-0 p-2 px-5">
                <h5 class="fw-semibold">Welcome</h5>
           
                <h6>Dr P.S Sreejith </h6>
                <p class="m-0 p-0">Principal, Rajagiri School of Engineering & Technology</p>
            </div>
        </div>


       
        <div  class="row m-0 p-0 border-top">
            <div style="background: #3690D4" class="d-flex align-items-center justify-content-center  col-md-3  p-2"><h3 class=" text-light text-center my-auto">9:37 AM </h3></div>    
            <div  class="col-md-9 m-0 p-2 px-5">
                <h5>Presidential Address</h5>
                <h6>Sri Anoop Ambika </h6>
                <p class="m-0 p-0">CEO, Kerala Startup Mission</p>
            </div>
        </div>


        <div  class="row m-0 p-0 border-top">
            <div style="background: #7eb9e6" class="d-flex align-items-center justify-content-center  col-md-3 p-2"><h3 class=" text-light text-center my-auto">9:47 AM </h3></div>    
            <div  class="col-md-9 m-0 p-2 px-5">
                <h5 class="fw-semibold">Inaugural Address</h5>
           
                <h6>Sri. Rajeev Chandrasekhar</h6>
                <p class="m-0 p-0">Incumbent Minister of State for Skill Development and Entrepreneurship and Electronics and Information Technology of India</p>
            </div>
        </div>


       
        <div  class="row m-0 p-0 border-top">
            <div style="background: #3690D4" class="d-flex align-items-center justify-content-center  col-md-3  p-2"><h3 class=" text-light text-center my-auto">9:57 AM </h3></div>    
            <div  class="col-md-9 m-0 p-2 px-5">
                <h5>Address by Guest of Honour</h5>
                <h6>Sri. P. Rajeev </h6>
                <p class="m-0 p-0">Minister for Industries, Law and Coir Government of Kerala</p>
            </div>
        </div>




        <div  class="row m-0 p-0 border-top">
            <div style="background: #7eb9e6" class="d-flex align-items-center justify-content-center  col-md-3 p-2"><h3 class=" text-light text-center my-auto">10:07 AM </h3></div>    
            <div  class="col-md-9 m-0 p-2 px-5">
                <h5 class="fw-semibold">Key Note Address</h5>
           
                <h6>Sri. Kochouseph Chittilappily</h6>
                <p class="m-0 p-0">Founder,Chairman, CEO of V-Guard industries</p>
            </div>
        </div>



       
        <div  class="row m-0 p-0 border-top">
            <div style="background: #3690D4" class="d-flex align-items-center justify-content-center  col-md-3  p-2"><h3 class=" text-light text-center my-auto">10:22 AM </h3></div>    
            <div  class="col-md-9 m-0 p-2 px-5 ">

                <h5 class="fw-semibold">Special Address</h5>
                <h6>Sri. Shivangi Jain</h6>
                <p> Assistant Vice President Invest India</p>
            </div>
        </div>




        <div  class="row m-0 p-0 border-top">
            <div style="background: #7eb9e6" class="d-flex align-items-center justify-content-center  col-md-3 p-2"><h3 class=" text-light text-center my-auto">10:32 AM </h3></div>    
            <div  class="col-md-9 m-0 p-2 px-5">
                <h5 class="fw-semibold">Special Address</h5>
           
                <h6>Rev. Dr. Jose Kuriedath CMI </h6>
                <p class="m-0 p-0">Director Rajagiri School of Engineering & Technology</p>
            </div>
        </div>


       
        <div  class="row m-0 p-0 border-top">
            <div style="background: #3690D4" class="d-flex align-items-center justify-content-center  col-md-3  p-2"><h3 class=" text-light text-center my-auto">10:42 AM </h3></div>    
            <div  class="col-md-9 m-0 p-2 px-5">
                <h5>Vote of Thanks</h5>
                <h6>Nodal Officer</h6>
            </div>
        </div>



         
   



       </div>
   </div>




   <div class="tab-pane" id="sem">
       <div class="row border g-0 rounded shadow-sm">
           <div class="col p-4">
               <h3>Profile</h3>
               <p>
                   Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
               </p>
           </div>

       </div>
   </div>




   <div class="tab-pane" id="gal">
       <div class="row border g-0 rounded shadow-sm">
           <div class="col p-4">
               <h3>Contact</h3>
               <p>
                   Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
               </p>
           </div>
       </div>
   </div>


   
   
   <div class="tab-pane" id="mul">
         <div class="row border g-0 rounded shadow-sm">
            <div class="col p-4">
               <h3>Contact</h3>
               <p>
                     Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
               </p>
            </div>
         </div>
   </div>
   
   
   <div class="tab-pane" id="lab">
         <div class="row border g-0 rounded shadow-sm">
            <div class="col p-4">
               <h3>Contact</h3>
               <p>
                     Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
               </p>
            </div>
         </div>
   </div>
   
   
   <div class="tab-pane" id="open">
         <div class="row border g-0 rounded shadow-sm">
            <div class="col p-4">
               <h3>Contact</h3>
               <p>
                     Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
               </p>
            </div>
         </div>
   </div>
   
   
   <div class="tab-pane" id="class">
         <div class="row border g-0 rounded shadow-sm">
            <div class="col p-4">
               <h3>Contact</h3>
               <p>
                     Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
               </p>
            </div>
         </div>
   </div>
   
   
   <div class="tab-pane" id="other">
         <div class="row border g-0 rounded shadow-sm">
            <div class="col p-4">
               <h3>Contact</h3>
               <p>
                     Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
               </p>
            </div>
         </div>
   </div>




</div>







</section>