<!DOCTYPE html>
<html lang="en">
   <head>
      <!-- Metas -->
      <meta charset="utf-8">
      <title>EVENTS - MULTIPURPOSE CONFERENCE HTML TEMPLATE</title>
      <meta name="description" content="">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <!-- Css -->
      <link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all"/>
      <link href="css/base.css" rel="stylesheet" type="text/css" media="all"/>
      <link href="css/main.css" rel="stylesheet" type="text/css" media="all"/>
      <link href="css/flexslider.css" rel="stylesheet" type="text/css"  media="all" />
      <link href="css/venobox.css" rel="stylesheet" type="text/css"  media="all" />
      <link href="css/fonts.css" rel="stylesheet" type="text/css"  media="all" />
      <link href="https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,600,700" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,700" rel="stylesheet">
   </head>
   <body>
      <!--Wrapper-->
      <div class="wrapper">
         
         <!--Schedule section-->
         <section id="schedule" class="schedule pt-120 pb-120">
            <!--Container-->
            <div class="container">
               <!--Row-->
               <!--End row-->
            </div>
            <!--Container-->
            <div class="container">
               <!--Row-->
               <div class="row">
                  <div class="col-sm-4 ">
                     <!--Tabs-->
                     <ul class="block-tabs">
                        <li class="active"><i class="et-line-calendar"></i><strong>Day 1</strong>  <span>- 23 july 2017</span></li>
                        <li class=""><i class="et-line-calendar"></i><strong>Day 2</strong>  <span>- 24 july 2017</span></li>
                        <li class=""><i class="et-line-calendar"></i><strong>Day 3</strong>  <span>- 25 july 2017</span></li>
                        <li class=""><i class="et-line-calendar"></i><strong>Day 4</strong>  <span>- 26 july 2017</span></li>
                     </ul>
                     <a class="link mt-20 gradient-text scroll" href="#accom">Accommodation</a>
                  </div>
                  <div class="col-sm-8 ">
                     <ul class="block-tab">
                        <!--Tab-->
                        <li class="active ">
                           <div class="block-date"><i class="et-line-calendar"></i><strong>Day 1</strong>  <span>- 23 july 2017</span></div>
                           <div class="block-detail">
                              <span class="time">08:00 - 10:00</span>
                              <span class="topic">Conference Opening</span>
                              <div class="block-text">
                                 <p>Nihilne te nocturnum praesidium Palati, nihil urbis vigilae, nihil timor populi, nihil concursus velit omnium, nihil hic muntissimus habendi senatus locus, nihil horum ora vultusque moverunt, patere tua consilia non sentis constrictam nihil hic muntissimus.</p>
                                 <span class="speaker"> <strong >Speaker</strong> : <a href="#" class="gradient-text ">Adam Blanco</a> </span>
                              </div>
                           </div>
                           <div class="block-detail">
                              <span class="time">10:30 - 12:30</span>
                              <span class="topic">Photography Foundations</span>
                              <div class="block-text">
                                 <p>Nihilne te nocturnum praesidium Palati, nihil urbis vigilae, nihil timor populi, nihil concursus velit omnium, nihil hic muntissimus habendi senatus locus, nihil horum ora vultusque moverunt, patere tua consilia non sentis constrictam nihil hic muntissimus.</p>
                                 <span class="speaker"> <strong >Speaker</strong> : <a href="#" class="gradient-text ">Luca Palermo</a> </span>
                              </div>
                           </div>
                           <div class="block-detail">
                              <span class="time">13:00</span>
                              <span class="topic">Lunch Time</span>
                           </div>
                           <div class="block-detail">
                              <span class="time">15:00 - 16:30</span>
                              <span class="topic">Retouching</span>
                              <div class="block-text">
                                 <p>Nihilne te nocturnum praesidium Palati, nihil urbis vigilae, nihil timor populi, nihil concursus velit omnium, nihil hic muntissimus habendi senatus locus, nihil horum ora vultusque moverunt, patere tua consilia non sentis constrictam nihil hic muntissimus.</p>
                                 <span class="speaker"> <strong >Speaker</strong> : <a href="#" class="gradient-text "> Lina Blamberg </a> </span>
                              </div>
                           </div>
                           <div class="block-detail">
                              <span class="time">17:00</span>
                              <span class="topic">Coffee Break</span>
                           </div>
                           <div class="block-detail">
                              <span class="time">17:30 - 18:00</span>
                              <span class="topic">Raw Processing</span>
                              <div class="block-text">
                                 <p>Nihilne te nocturnum praesidium Palati, nihil urbis vigilae, nihil timor populi, nihil concursus velit omnium, nihil hic muntissimus habendi senatus locus, nihil horum ora vultusque moverunt, patere tua consilia non sentis constrictam nihil hic muntissimus.</p>
                                 <span class="speaker"> <strong >Speaker</strong> : <a href="#" class="gradient-text "> Emilie Lippelt </a> </span>
                              </div>
                           </div>
                        </li>
                        <!--Tab-->
                        <li>
                           <div class="block-date"><i class="et-line-calendar"></i><strong>Day 2</strong>  <span>- 24 july 2017</span></div>
                           <div class="block-detail">
                              <span class="time">08:00 - 10:00</span>
                              <span class="topic">Cameras + Gear</span>
                              <div class="block-text">
                                 <p>Nihilne te nocturnum praesidium Palati, nihil urbis vigilae, nihil timor populi, nihil concursus velit omnium, nihil hic muntissimus habendi senatus locus, nihil horum ora vultusque moverunt, patere tua consilia non sentis constrictam nihil hic muntissimus.</p>
                                 <span class="speaker"> <strong >Speaker</strong> : <a href="#" class="gradient-text ">Adam Blanco</a> </span>
                              </div>
                           </div>
                           <div class="block-detail">
                              <span class="time">10:30 - 12:30</span>
                              <span class="topic">Night + Low Light</span>
                              <div class="block-text">
                                 <p>Nihilne te nocturnum praesidium Palati, nihil urbis vigilae, nihil timor populi, nihil concursus velit omnium, nihil hic muntissimus habendi senatus locus, nihil horum ora vultusque moverunt, patere tua consilia non sentis constrictam nihil hic muntissimus.</p>
                                 <span class="speaker"> <strong >Speaker</strong> : <a href="#" class="gradient-text ">Luca Palermo</a> </span>
                              </div>
                           </div>
                           <div class="block-detail">
                              <span class="time">13:00</span>
                              <span class="topic">Lunch Time</span>
                           </div>
                           <div class="block-detail">
                              <span class="time">15:00 - 16:30</span>
                              <span class="topic">Lighting</span>
                              <div class="block-text">
                                 <p>Nihilne te nocturnum praesidium Palati, nihil urbis vigilae, nihil timor populi, nihil concursus velit omnium, nihil hic muntissimus habendi senatus locus, nihil horum ora vultusque moverunt, patere tua consilia non sentis constrictam nihil hic muntissimus.</p>
                                 <span class="speaker"> <strong >Speaker</strong> : <a href="#" class="gradient-text "> Lina Blamberg </a> </span>
                              </div>
                           </div>
                           <div class="block-detail">
                              <span class="time">17:00</span>
                              <span class="topic">Coffee Break</span>
                           </div>
                           <div class="block-detail">
                              <span class="time">17:30 - 18:00</span>
                              <span class="topic">Color Correction</span>
                              <div class="block-text">
                                 <p>Nihilne te nocturnum praesidium Palati, nihil urbis vigilae, nihil timor populi, nihil concursus velit omnium, nihil hic muntissimus habendi senatus locus, nihil horum ora vultusque moverunt, patere tua consilia non sentis constrictam nihil hic muntissimus.</p>
                                 <span class="speaker"> <strong >Speaker</strong> : <a href="#" class="gradient-text "> Emilie Lippelt </a> </span>
                              </div>
                           </div>
                        </li>
                        <!--Tab-->
                        <li>
                           <div class="block-date"><i class="et-line-calendar"></i><strong>Day 3</strong>  <span>- 25 july 2017</span></div>
                           <div class="block-detail">
                              <span class="time">08:00 - 10:00</span>
                              <span class="topic">HDR</span>
                              <div class="block-text">
                                 <p>Nihilne te nocturnum praesidium Palati, nihil urbis vigilae, nihil timor populi, nihil concursus velit omnium, nihil hic muntissimus habendi senatus locus, nihil horum ora vultusque moverunt, patere tua consilia non sentis constrictam nihil hic muntissimus.</p>
                                 <span class="speaker"> <strong >Speaker</strong> : <a href="#" class="gradient-text ">Adam Blanco</a> </span>
                              </div>
                           </div>
                           <div class="block-detail">
                              <span class="time">10:30 - 12:30</span>
                              <span class="topic">Masking + Compositing</span>
                              <div class="block-text">
                                 <p>Nihilne te nocturnum praesidium Palati, nihil urbis vigilae, nihil timor populi, nihil concursus velit omnium, nihil hic muntissimus habendi senatus locus, nihil horum ora vultusque moverunt, patere tua consilia non sentis constrictam nihil hic muntissimus.</p>
                                 <span class="speaker"> <strong >Speaker</strong> : <a href="#" class="gradient-text ">Luca Palermo</a> </span>
                              </div>
                           </div>
                           <div class="block-detail">
                              <span class="time">13:00</span>
                              <span class="topic">Lunch Time</span>
                           </div>
                           <div class="block-detail">
                              <span class="time">15:00 - 18:00</span>
                              <span class="topic">Portraits</span>
                              <div class="block-text ">
                                 <p>Nihilne te nocturnum praesidium Palati, nihil urbis vigilae, nihil timor populi, nihil concursus velit omnium, nihil hic muntissimus habendi senatus locus, nihil horum ora vultusque moverunt, patere tua consilia non sentis constrictam nihil hic muntissimus.</p>
                                 <span class="speaker"> <strong >Speaker</strong> : <a href="#" class="gradient-text "> Emilie Lippelt </a> </span>
                              </div>
                           </div>
                        </li>
                        <!--Tab-->
                        <li>
                           <div class="block-date"><i class="et-line-calendar"></i><strong>Day 4</strong>  <span>- 26 july 2017</span></div>
                           <div class="block-detail">
                              <span class="time">08:00 - 10:00</span>
                              <span class="topic">Questions &amp; Answer</span>
                           </div>
                           <div class="block-detail">
                              <span class="time">10:30 - 11:00</span>
                              <span class="topic">Closing Event</span>
                           </div>
                           <div class="block-detail">
                              <span class="time">15:00 - 17:00</span>
                              <span class="topic">After Party</span>
                           </div>
                        </li>
                     </ul>
                  </div>
               </div>
               <!--End row-->
            </div>
            <!--End container-->
         </section>
         <!--End schedule section-->
        
         
         
      </div>
      <!-- End wrapper-->
      <!--Javascript-->	
      <script src="js/jquery-1.12.4.min.js" type="text/javascript"></script>
      <script src="js/jquery.flexslider-min.js" type="text/javascript"></script>
      <script src="js/jquery.countdown.min.js" type="text/javascript"></script>
      <script src="js/smooth-scroll.js" type="text/javascript"></script>
  
      <script src="js/script.js" type="text/javascript"></script>
      <!-- Google analytics -->
      <!-- End google analytics -->
   </body>
</html>
