<section class="min-h-screen py-0 relative">
  <!-- revolution slider begin -->
  <div id="section-hero" class="fullwidthbanner-container" aria-label="section-slider" data-bgcolor="#101010">
      <div id="slider-revolution">
          <ul>
              <li data-transition="random-premium" data-slotamount="10" data-masterspeed="200" data-thumb="">
                  <!--  BACKGROUND IMAGE -->
                  <img alt="" class="rev-slidebg" data-bgparallax="0" src="images/bg-reset-3.jpg">
              </li>
              
              <li data-transition="random-premium" data-slotamount="10" data-masterspeed="100" data-thumb="">
                  <!--  BACKGROUND IMAGE -->
                  <img alt="" class="rev-slidebg" data-bgparallax="0" src="images/bg-rset-2.jpg">
              </li>

              <li data-transition="random-premium" data-slotamount="10" data-masterspeed="100" data-thumb="">
                <!--  BACKGROUND IMAGE -->
                <img alt="" class="rev-slidebg" data-bgparallax="0" src="images/bg-iedc.png">
              </li>
              
              <li data-transition="random-premium" data-slotamount="10" data-masterspeed="100" data-thumb="">
                  <!--  BACKGROUND IMAGE -->
                  <img alt="" class="rev-slidebg" data-bgparallax="0" src="images/bg-rset.jpg">
              </li>

          </ul>
          
          
      </div>
  </div>

  <div class="absolute z-20 w-full h-full top-0 flex items-center justify-center">
      <div class="flex items-center justify-center gap-8 w-full">
          <div class="flex justify-center flex-col items-center ">
              <img src="/images/summitlogo.png" alt="Logo" class="w-64">
              <div class="bg-blue-700 text-white inline-block px-2 mt-2 text-xl">
                  Unravelling Dimensions Uniting Perspectives
              </div>
              <div class="text-2xl md:text-4xl text-white my-5 text-center md:text-left">
                  Asia's largest Summit for Aspiring Student Entrepreneurs
              </div>
              <div class="d-lg-flex justify-content-center sm-hide" style="background-size: cover;">
                  <div class="h6 padding10 pt0 pb0 text-white" style="background-size: cover;"><i class="i_h3 fa fa-calendar-check-o id-color"></i>04 March 2023</div>
                  <!-- <div class="h6 padding10 pt0 pb0 text-white" style="background-size: cover;"><i class="i_h3 fa fa-user id-color"></i>12 Speakers</div> -->
                  <div class="h6 padding10 pt0 pb0 text-white" style="background-size: cover;"><i class="i_h3 fa fa-map-marker id-color"></i>Rajagiri School of Engineering and Technology, Ernakulam</div>
              </div>
              <div class="text-center mt-3">
                  <button class="appearance-none rounded-full border-0 px-5 py-2 bg-pink-600 text-white hover:bg-pink-700" onclick="popup('iedc-summit-2023-230400');">Grab your Tickets</button>
              </div>
          </div>
          <!-- <div class="md:w-1/2">
              
          </div> -->
      </div>

      <!-- Popup -->

      <!-- <div id="popup" class=" md:flex static fixed bottom-1 right-1 rounded-lg ">
        <div id="close-button" class=" inline-block cursor-pointer absolute -top-3 -left-3  w-6 h-6 bg-gray-800  rounded-full text-white flex items-center justify-center" data-home-popup-close="">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-x w-4 h-4" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
              <line x1="18" y1="6" x2="6" y2="18"></line>
              <line x1="6" y1="6" x2="18" y2="18"></line>
            </svg>
        </div>
				<div class=" w-64 max-w-lg  md:h-auto">
					<div class="bg-white rounded-lg shadow ">
						<a href="#section-joinus">
							<img
									class="w-full"
									src="images/footerimg/tickets.jpeg"
									alt="Grab your tickets"
							/>
						</a>
					</div>
        </div>
       
     	</div> -->
  </div>
</section>