---
import Speaker from "./Speaker.astro";

let speakers = [
  {
    name: "P Rajeev",
    designation: "Hon'ble Minister for industries, Law and Coir",
    organisation: "Government of Kerala",
    image: "images/speakers/PRajeev.jpg",
  },
  {
    name: "Dr Renu Raj IAS",
    designation: "District collector",
    organisation: "Ernakulam",
    image: "images/speakers/Renu.jpg",
  },
  {
    name: "Kouchouesph Chitilapilly",
    designation: "Founder, CEO",
    organisation: " V-Guard industries and Wonderla",
    image: "images/speakers/kochouseph.png",
  },
  {
    name: "Poornima Indrajith",
    designation: "Actor",
    organisation: "Owner 'Pranaah' fashion couture",
    image: "images/speakers/Poornima.jpg",
  },
  {
    name: "Mathew Joseph",
    designation: "COO",
    organisation: "Fresh to home",
    image: "images/speakers/Mathew.jpg",
  },
  {
    name: "Gopikrishnan Sasikumar",
    designation: "Senior Product Engineer",
    organisation: "Entri",
    image: "images/speakers/Gopikrishnan.jpeg",
  },
  {
    name: "Najeeb Bin Haneef",
    designation: "CEO",
    organisation: "Zaara Biotech",
    image: "images/speakers/Najeeb.jpg",
  },
  {
    name: "Aswathy Venugopal",
    designation: "Co Founder",
    organisation: "Avasarshala",
    image: "images/speakers/Ashwathy.png",
  },
  {
    name: "Jaison Sabu",
    designation: "Founder and CEO",
    organisation: "Edurupt",
    image: "images/speakers/Jaison.jpg",
  },
  {
    name: "John Mathew",
    designation: "Co-founder",
    organisation: "Riafy Technologies",
    image: "images/speakers/John.jpeg",
  },
  {
    name: "Amitha Jobin",
    designation: "Content creator",
    organisation: " ",
    image: "images/speakers/Amitha.jpg",
  },

  {
    name: "Ashfak KA",
    designation: "ML Engineer",
    organisation: "Zappyhire",
    image: "images/speakers/Ashfak.jpg",
  },
  {
    name: "Balagopal Chandrashekar",
    designation: "Chairman",
    organisation: "Federal bank",
    image: "images/speakers/Balagopal.jpg",
  },
  {
    name: "Charles J Thayil",
    designation: "Managing Director, Tech7",
    organisation: " Director, UNIVEND",
    image: "images/speakers/Charles.jpg",
  },
  {
    name: "Girish R",
    designation: "Senior Technical Manager",
    organisation: "Fingent",
    image: "images/speakers/Girish.jpg",
  },
  {
    name: "Joy sebastian",
    designation: "CEO ",
    organisation: "Techgentsia",
    image: "images/speakers/Joy.jpg",
  },
  {
    name: "Souvik Roy",
    designation: "Head of investor Relations",
    organisation: "Federal bank",
    image: "images/speakers/Souvik.jpg",
  },
];
---

<!-- Section Speakers Begin -->
<section id="section-speakers" class="jarallax text-light">
  <img src="images/bg/1.jpg" class="jarallax-img" alt="" />
  <div class="wm wm-border dark wow fadeInDown">speakers</div>
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3 text-center wow fadeInUp">
        <h1>Speakers</h1>
        <div class="separator"><span><i class="fa fa-square"></i></span></div>
        <div class="spacer-single"></div>
      </div>

      <div class="clearfix"></div>

      {speakers.map((item) => <Speaker {...item} />)}

      <div class="clearfix"></div>
    </div>
  </div>
</section>

<!-- Section close -->
