---
import Speaker from "./Speaker.astro";

let speakers = [
  {
    name: "P Rajeev",
    designation: "Hon'ble Minister for industries, Law and Coir",
    organisation: "Government of Kerala",
    image: "images/speakers/PRajeev.jpg",
  },
  {
    name: "Dr Renu Raj IAS",
    designation: "District collector",
    organisation: "Ernakulam",
    image: "images/speakers/Renu.jpeg",
  },
  {
    name: "Shri Loknath Behara IPS ",
    designation: " MD, KMRL",
    organisation: "",
    image: "images/speakers/Loknath.jpeg",
  },
  {
    name: "Kouchouesph Chitilapilly",
    designation: "Founder, CEO",
    organisation: " V-Guard industries and Wonderla",
    image: "images/speakers/kochouseph.png",
  },
  {
    name: "Shivangi Jain",
    designation: "Assistant Vice President",
    organisation: "Invest India",
    image: "images/speakers/Shivangi.jpg",
  },
  {
    name: "Balagopal Chandrashekar",
    designation: "Chairman",
    organisation: "Federal bank",
    image: "images/speakers/Balagopal.jpg",
  },

  {
    name: "Charles J Thayil",
    designation: "Managing Director, Tech7",
    organisation: " Director, UNIVEND",
    image: "images/speakers/Charles.jpg",
  },

  {
    name: "Mathew Joseph",
    designation: "COO",
    organisation: "Fresh to home",
    image: "images/speakers/Mathew.jpg",
  },
  {
    name: "TN Hari ",
    designation: "Co-founder ",
    organisation: "Artha School of Entrepreneurship",
    image: "images/speakers/Hari.jpg",
  },
  {
    name: "Gireesh Rengaswamy",
    designation: "Senior Technical Manager",
    organisation: "Fingent",
    image: "images/speakers/Girish.jpg",
  },
  {
    name: "Densil Antony",
    designation: "CEO",
    organisation: "XR Horizon",
    image: "images/speakers/Desil.jpg",
  },
  {
    name: "Dr Geemon Korah",
    designation: "Executive Director and CEO",
    organisation: "Mane Kancor ingredients",
    image: "images/speakers/Geemon.jpg",
  },
  {
    name: "Poornima Indrajith",
    designation: "Actor",
    organisation: "Owner 'Pranaah' fashion couture",
    image: "images/speakers/Poornima.jpg",
  },
  {
    name: "Joy sebastian",
    designation: "CEO ",
    organisation: "Techgentsia",
    image: "images/speakers/Joy.jpg",
  },
  {
    name: "K A Saleem",
    designation: "Director",
    organisation: "Meralda Jewels",
    image: "images/speakers/saleem.jpg",
  },
  {
    name: "Nevin Mathew",
    designation: "Business head of ",
    organisation: "MINI brand, Kerala",
    image: "images/speakers/Nevin.jpg",
  },
  {
    name: "Gopikrishnan Sasikumar",
    designation: "Senior Product Engineer",
    organisation: "Entri",
    image: "images/speakers/Gopikrishnan.jpeg",
  },
  {
    name: "Najeeb Bin Haneef",
    designation: "CEO",
    organisation: "Zaara Biotech",
    image: "images/speakers/Najeeb.jpg",
  },
  {
    name: "Aswathy Venugopal",
    designation: "Co Founder",
    organisation: "Avasarshala",
    image: "images/speakers/Ashwathy.png",
  },
  {
    name: "Jaison Sabu",
    designation: "Founder and CEO",
    organisation: "Edurupt",
    image: "images/speakers/Jaison.jpg",
  },
  {
    name: "John Mathew",
    designation: "Co-founder",
    organisation: "Riafy Technologies",
    image: "images/speakers/John.jpeg",
  },
  {
    name: "Amitha Jobin",
    designation: "Content creator",
    organisation: " ",
    image: "images/speakers/Amitha.jpg",
  },

  {
    name: "Ashfak KA",
    designation: "ML Engineer",
    organisation: "Zappyhire",
    image: "images/speakers/Ashfak.jpg",
  },

 
  {
    name: "Souvik Roy",
    designation: "Head of Investor Relations",
    organisation: "Federal bank",
    image: "images/speakers/Souvik.jpg",
  },

  {
    name: "Dijeesh Padinharethil",
    designation: "Director of Engineering at Sedai",
    organisation: "Organizer - AWSUGKOCHI",
    image: "images/speakers/Dijeesh.jpg",
  },

  {
    name: "Hinshara Habeeb",
    designation: "Co-founder",
    organisation: "Manetain store",
    image: "images/speakers/Hinshara.jpg",
  },
  {
    name: "Muhammed Iqbal B",
    designation: "Cloud Architect at Codeace",
    organisation: "Co-Organizer - AWSUGKOCHI",
    image: "images/speakers/Muhammed.jpg",
  },

  {
    name: "Praveesh V",
    designation: "DevOps Consultant at Envestnet",
    organisation: "AWS Community Builder",
    image: "images/speakers/Praveesh.jpg",
  },
  {
    name: "Vignesh N",
    designation: "Associate Manager Cloud and Infrastructure at Innovature",
    organisation: "AWS Community Builder",
    image: "images/speakers/Vignesh.jpg",
  },
  {
    name: "Vishnu KS",
    designation: "DevOps Consultant at Toptal",
    organisation: " Co-Organizer CNCF Kochi",
    image: "images/speakers/Vishnu.jpg",
  },
  {
    name: "Sreeja M",
    designation: "Research Engineer-AI ",
    organisation: " Zappyhire",
    image: "images/speakers/Sreeja.jpg",
  },
  {
    name: "Roshin Rajesh",
    designation: "Blockchain developer",
    organisation: "Hyperlane",
    image: "images/speakers/Roshin.jpg",
  },
  {
    name: "Devika Chandrashekharan",
    designation: "Co founder",
    organisation: "Fuselage Innovations",
    image: "images/speakers/Devika.jpg",
  },
  {
    name: "Dhanya Ravi",
    designation: "Disability Evanglist",
    organisation: "",
    image: "images/speakers/Dhanya.jpg",
  },

  {
    name: "Gokul Raj",
    designation: "Content Creator",
    organisation: "",
    image: "images/speakers/Gokul.jpg",
  },
  {
    name: "Joel Joseph",
    designation: "Content Creator",
    organisation: "",
    image: "images/speakers/Joel.jpg",
  },
  {
    name: "Sneha Mishra",
    designation: "Founder",
    organisation: "Social3",
    image: "images/speakers/SnehaM.jpg",
  },
  {
    name: "Sneha Vijayan",
    designation: "Web3 Lawyer",
    organisation: "Co-founder Resolutio & Degen Law Academy",
    image: "images/speakers/SnehaV.png",
  },
  {
    name: "Arvind Sanjeev",
    designation: "Interaction designer",
    organisation: "Co founder, Lumen world",
    image: "images/speakers/Arvind.jpg",
  },

  

];


---

<!-- Section Speakers Begin -->
<section id="section-speakers" class="gradient-to-right text-light mb-24">
  <!-- <img src="images/bg/blue.jpg" class="jarallax-img " alt="" /> -->
  <div class="wm wm-border dark wow fadeInDown">speakers</div>
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3 text-center wow fadeInUp">
        <h1>Speakers</h1>
        <div class="separator"><span><i class="fa fa-square"></i></span></div>
        <div class="spacer-single"></div>
      </div>

      <div class="clearfix"></div>

      {speakers.map((item) => <Speaker {...item} />)}

      <div class="clearfix"></div>
    </div>
  </div>
</section>

<!-- Section close -->