---
import Speaker from "./Speaker.astro";

let speakers = [
  {
    name: "Shri P Rajeev",
    designation: "Hon'ble Minister for industries, Law and Coir",
    organisation: "Government of Kerala",
    image: "images/speakers/PRajeev.jpg",
  },
  {
    name: "Dr Renu Raj IAS",
    designation: "District collector",
    organisation: "Ernakulam",
    image: "images/speakers/Renu.jpeg",
  },
  {
    name: "Shri Lokanath Behera IPS ",
    designation: "MD, KMRL",
    organisation: "",
    image: "images/speakers/Loknath.jpeg",
  },
  {
    name: "Shri Anoop Ambika ",
    designation: "CEO",
    organisation: "Kerala Startup Mission",
    image: "images/speakers/Anoop.jpg",
  },
  {
    name: "Shri Balagopal Chandrasekhar",
    designation: "Chairman",
    organisation: "Federal bank",
    image: "images/speakers/Balagopal.jpg",
  },
  {
    name: "Shri Kochouseph Chittilappilly",
    designation: "Founder, CEO",
    organisation: "V-Guard industries and Wonderla",
    image: "images/speakers/kochouseph.png",
  },
  {
    name: "Dr PV Unnikrishnan",
    designation: "Member Secretary",
    organisation: "Kerala Development and Innovation Strategic Council",
    image: "images/speakers/unni.jpg",
  },
  {
    name: "Shri TN Hari ",
    designation: "Co-founder ",
    organisation: "Artha School of Entrepreneurship",
    image: "images/speakers/Hari.jpg",
  },


  {
    name: "Shri Poornima Indrajith",
    designation: "Actor",
    organisation: "Owner 'Pranaah' fashion couture",
    image: "images/speakers/Poornima.jpg",
  },
  {
    name: "Shri Lenaa",
    designation: "Actor Scriptwriter",
    organisation: "Author",
    image: "images/speakers/Lenaa.jpg",
  },
  {
    name: "Shri Shruti Singh",
    designation: "Senior Manager",
    organisation: "Startup India",
    image: "images/speakers/shruti.jpg",
  },

  {
    name: "Shri Tom Thomas",
    designation: "COO",
    organisation: "Kerala Startup Mission",
    image: "images/speakers/Tom.jpg",
  },

  {
    name: "Shri Mathew Joseph",
    designation: "COO",
    organisation: "FreshToHome",
    image: "images/speakers/Mathew.jpg",
  },

  {
    name: "Dr Deepu Krishnan PR",
    designation: "Assistant Manager ",
    organisation: "RINK",
    image: "images/speakers/Deepu.jpg",
  },

  {
    name: "Shri Charles J Thayil",
    designation: "Managing Director, Tech7",
    organisation: " Director, UNIVEND",
    image: "images/speakers/Charles.jpg",
  },

  {
    name: "Shri Girish Rengaswamy",
    designation: "Senior Engineering Manager",
    organisation: "Mobile R&D",
    image: "images/speakers/Girish.jpg",
  },
  {
    name: "Shri Densil Antony",
    designation: "CEO",
    organisation: "XR Horizon",
    image: "images/speakers/Desil.jpg",
  },
  {
    name: "Dr Geemon Korah",
    designation: "Executive Director and CEO",
    organisation: "Mane Kancor Ingredients",
    image: "images/speakers/Geemon.jpg",
  },

  {
    name: "Shri Joy Sebastian",
    designation: "CEO ",
    organisation: "Techgentsia",
    image: "images/speakers/Joy.jpg",
  },
  {
    name: "Shri K A Saleem",
    designation: "Director",
    organisation: "Meralda Jewels",
    image: "images/speakers/saleem.jpg",
  },
  {
    name: "Shri Nevin Mathew",
    designation: "Business head  ",
    organisation: "MINI brand, Kerala",
    image: "images/speakers/Nevin.jpg",
  },
  {
    name: "Shri Gopikrishnan Sasikumar",
    designation: "Senior Product Engineer",
    organisation: "Entri",
    image: "images/speakers/Gopikrishnan.jpeg",
  },
  {
    name: "Shri Najeeb Bin Haneef",
    designation: "CEO",
    organisation: "Zaara Biotech",
    image: "images/speakers/Najeeb.jpg",
  },
  {
    name: "Shri Ashwathy Venugopal",
    designation: "Co Founder",
    organisation: "Avasarshala",
    image: "images/speakers/Ashwathy.png",
  },
  {
    name: "Shri Jaison Sabu",
    designation: "Founder and CEO",
    organisation: "Edurupt",
    image: "images/speakers/Jaison.jpg",
  },
  {
    name: "Shri John Mathew",
    designation: "Co-founder",
    organisation: "Riafy Technologies",
    image: "images/speakers/John.jpeg",
  },
  {
    name: "Shri Amitha Jobin",
    designation: "Content creator",
    organisation: " ",
    image: "images/speakers/Amitha.jpg",
  },

  {
    name: "Shri Ashfak KA",
    designation: "ML Engineer",
    organisation: "Zappyhire",
    image: "images/speakers/Ashfak.jpg",
  },

  {
    name: "Shri Souvik Roy",
    designation: "Head of Investor Relations",
    organisation: "Federal bank",
    image: "images/speakers/Souvik.jpg",
  },

  {
    name: "Shri Dijeesh Padinharethil",
    designation: "Director of Engineering at Sedai",
    organisation: "Organizer - AWSUGKOCHI",
    image: "images/speakers/Dijeesh.jpg",
  },

  {
    name: "Shri Hinshara Habeeb",
    designation: "Co-founder",
    organisation: "Manetain store",
    image: "images/speakers/Hinshara.jpg",
  },
  {
    name: "Shri Muhammed Iqbal P B",
    designation: "Cloud Architect at Codeace",
    organisation: "Co-Organizer - AWSUGKOCHI",
    image: "images/speakers/Muhammed.jpg",
  },

  {
    name: "Shri Praveesh V",
    designation: "DevOps Consultant at Envestnet",
    organisation: "AWS Community Builder",
    image: "images/speakers/Praveesh.jpg",
  },
  {
    name: "Shri Vignesh N",
    designation: "Associate Manager Cloud and Infrastructure at Innovature",
    organisation: "AWS Community Builder",
    image: "images/speakers/Vignesh.jpg",
  },
  {
    name: "Shri Vishnu KS",
    designation: "DevOps Consultant at Toptal",
    organisation: " Co-Organizer CNCF Kochi",
    image: "images/speakers/Vishnu.jpg",
  },
  {
    name: "Shri Sreeja M",
    designation: "Research Engineer-AI ",
    organisation: " Zappyhire",
    image: "images/speakers/Sreeja.jpg",
  },
  {
    name: "Shri Roshin Rajesh",
    designation: "Blockchain developer",
    organisation: "Hyperlane",
    image: "images/speakers/Roshin.jpg",
  },
  {
    name: "Shri Devika Chandrasekharan",
    designation: "Co founder",
    organisation: "Fuselage Innovations",
    image: "images/speakers/Devika.jpg",
  },
  {
    name: "Shri Dhanya Ravi",
    designation: "Specialist",
    organisation: "Enable India",
    image: "images/speakers/Dhanya.jpg",
  },

  {
    name: "Shri Gokul Raj",
    designation: "Content Creator",
    organisation: "",
    image: "images/speakers/Gokul.jpg",
  },
  {
    name: "Shri Joel Joseph",
    designation: "Content Creator",
    organisation: "",
    image: "images/speakers/Joel.jpg",
  },
  {
    name: "Shri Sneha Mishra",
    designation: "Founder",
    organisation: "Social3",
    image: "images/speakers/SnehaM.jpg",
  },
  {
    name: "Shri Sneha Vijayan",
    designation: "Web3 Lawyer",
    organisation: "Co-founder Resolutio & Degen Law Academy",
    image: "images/speakers/SnehaV.png",
  },
  {
    name: "Shri Arvind Sanjeev",
    designation: "Interaction designer",
    organisation: "Co founder, Lumen world",
    image: "images/speakers/Arvind.jpg",
  },

  {
    name: "Shri Lini basil",
    designation: "Founder and CEO ",
    organisation: "byLin Medtech Pvt Ltd",
    image: "images/speakers/Lini.jpeg",
  },

  {
    name: "Shri Rahul Ramesh",
    designation: "Chief Technology Officer",
    organisation: "ENTRI",
    image: "images/speakers/Rahul.jpeg",
  },
  {
    name: "Shri Vinay Menon",
    designation: "Stand Up Comedian",
    organisation: "Soft Skills Trainer",
    image: "images/speakers/Vinay.jpg",
  },
  {
    name: "Shri Arjun Mathew",
    designation: "Director",
    organisation: "Bioingredia",
    image: "images/speakers/Arjun.jpg",
  },
  {
    name: "Shri Michael Joseph",
    designation: "Director",
    organisation: "Datsi School for storytellers",
    image: "images/speakers/Michael.jpeg",
  },
  {
    name: "Shri Preethi M",
    designation: "CEO",
    organisation: "NIT TBI, Calicut",
    image: "images/speakers/Preethi.jpg",
  },

  {
    name: "Shri Robin Tommy",
    designation: "Social Innovation & Startup Mentor ",
    organisation: "Tata Consultancy Services",
    image: "images/speakers/Robin.jpg",
  },
  {
    name: "Shri Sherin Sam Jose",
    designation: "CEO",
    organisation: "Startups Valley TBIr",
    image: "images/speakers/Sherin.jpg",
  },
  {
    name: "Shri Vishnu Ramakrishnan",
    designation: "Founders office",
    organisation: "The ePlane company",
    image: "images/speakers/vishnu.png",
  },
  {
    name: "Shri Suresh EC",
    designation: " Training Head - Character Animation",
    organisation: "Zebu Animation Studios",
    image: "images/speakers/suresh.jpeg",
  },

  {
    name: "Shri Rakesh Kumar",
    designation: "Operations head ",
    organisation: "Zebu Animation Studio & Datsi School for Storytellers",
    image: "images/speakers/Rakesh.png",
  },
  {
    name: "Shri Nimisha J Vadakkan",
    designation: "Managing director",
    organisation: "Acemoney",
    image: "images/speakers/nimisha.jpeg",
  },
  {
    name: "Shri Lakshmi Das",
    designation: "Co-founder & COO",
    organisation: "Prophaze Technologies",
    image: "images/speakers/lakshmi.jpeg",
  },
  {
    name: "Shri Kavya Baburaj",
    designation: "Founder and CEO ",
    organisation: "Social PR",
    image: "images/speakers/Kavya.jpg",
  },
  {
    name: "Shri Anooja Bashir",
    designation: "Director and CEO",
    organisation: "Flexicloud,ourea",
    image: "images/speakers/anooja.jpg",
  },
  {
    name: "Shri Aiswarya Pramod",
    designation: "CEO",
    organisation: "Thinkdot Media",
    image: "images/speakers/Aiswarya.jpg",
  },
];
---

<!-- Section Speakers Begin -->
<section id="section-speakers" class="gradient-to-right text-light mb-24">
  <!-- <img src="images/bg/blue.jpg" class="jarallax-img " alt="" /> -->
  <div class="wm wm-border dark wow fadeInDown">speakers</div>
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3 text-center wow fadeInUp">
        <h1>Speakers</h1>
        <div class="separator"><span><i class="fa fa-square"></i></span></div>
        <div class="spacer-single"></div>
      </div>

      <div class="clearfix"></div>

      {speakers.map((item) => <Speaker {...item} />)}

      <div class="clearfix"></div>
    </div>
  </div>
</section>

<!-- Section close -->
