<header class="transparent">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <!-- logo begin -->
        <div id="logo">
          <a href="index.html">
            <img class="" id="nav-logo" width="120" height="65" src="images/logo-white.svg" alt=""/>
          </a>
        </div>
        <!-- logo close -->

        <!-- small button begin -->
        <span id="menu-btn"></span>
        <!-- small button close -->

        <!-- <div class="header-extra">
            <div class="v-center">
                <span id="b-menu">
                    <span></span>
                    <span></span>
                    <span></span>
                </span>
            </div>
        </div> -->

        <!-- mainmenu begin -->
        <ul id="mainmenu" class="ms-2">
          <li><a href="#section-hero">Home<span></span></a></li>
          <li><a href="#section-about">About<span></span></a></li>
          <li><a href="#section-speakers">Speakers<span></span></a></li>
          <li><a href="schedule">Schedule<span></span></a></li>
          <li><a href="events">Events<span></span></a></li>
          <li><a href="#section-reach">Venue<span></span></a></li>
          <li><a href="#section-prev">Previous Summit <span></span></a></li>
          <li><a href="founder">Your Co-Founder <span></span></a></li>
        </ul>

        <!-- mainmenu close -->
      </div>
    </div>
  </div>
</header>
